src/services/isis/isis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Data types of Information Indexing Service
-->

<xsd:schema 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:isis="http://www.nordugrid.org/schemas/isis/2007/06"
  xmlns:wsa="http://www.w3.org/2005/08/addressing"
  targetNamespace="http://www.nordugrid.org/schemas/isis/2007/06"
  elementFormDefault="qualified" attributeFormDefault="unqualified" 
>

    <!-- xsd:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="./ws-addr.xsd"/ -->
    <xsd:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="http://www.w3.org/2006/03/addressing/ws-addr.xsd"/>


<!-- This is an initial and incomplete DRAFT which mainly concentrates on the structure but not on the actual names. Final version will use GLUE-2.0 ternminology. -->

    <!-- ==== Input and output types for IIS operations ==== -->
    <!-- Input type for Register operation -->
    <xsd:complexType name="RegisterType">
        <xsd:sequence>
            <xsd:element name="Header" type="isis:HeaderType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="RegEntry" type="isis:RegistrationEntryType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Register" type="isis:RegisterType"/>

    <!-- Output type for Register operation -->
    <xsd:complexType name="RegisterResponseType">
        <xsd:sequence>
            <xsd:element name="Fault" type="isis:FaultType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RegisterResponse" type="isis:RegisterResponseType"/>

    <!-- Input type for RemoveRegistrations and GetRegistrationStatuses operations -->
    <xsd:complexType name="RegistrationEntryIDListType">
        <xsd:sequence>
            <!-- xsd:element name="RegEntryID" type="wsa:EndpointReferenceType" minOccurs="1" maxOccurs="unbounded"/ -->
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <!-- xsd:element name="RegistrationEntryIDList" type="isis:RegistrationEntryIDListType"/ -->

    <xsd:simpleType name="RemoveRegistrationsType">
        <xsd:restriction base="isis:RegistrationEntryIDListType"/>
    </xsd:simpleType>
    <xsd:element name="RemoveRegistrations" type="isis:RemoveRegistrationsType"/>

    <xsd:simpleType name="GetRegistrationStatusesType">
        <xsd:restriction base="isis:RegistrationEntryIDListType"/>
    </xsd:simpleType>
    <xsd:element name="GetRegistrationStatuses" type="isis:GetRegistrationStatusesType"/>

    <!-- Output type for RemoveRegistrations operation -->
    <xsd:complexType name="RemoveRegistrationsResponseType">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RemoveRegistrationsResponse" type="isis:RemoveRegistrationsResponseType"/>

    <!-- Output type for GetRegistrationStatuses operation -->
    <xsd:complexType name="GetRegistrationStatusesResponseType">
        <xsd:sequence>
            <xsd:element name="RegEntryStatus" type="isis:RegistrationEntryStatusType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GetRegistrationStatusesResponse" type="isis:GetRegistrationStatusesResponseType"/>

    <!-- Input type for GetISISList operation -->
    <xsd:complexType name="GetISISListType">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GetISISList" type="isis:GetISISListType"/>

    <!-- Output type for GetISISList operation -->
    <xsd:complexType name="GetISISListResponseType">
        <xsd:sequence>
            <xsd:element name="EPR" type="wsa:EndpointReferenceType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GetISISListResponse" type="isis:GetISISListResponseType"/>

    <!-- === Helper type definitions === -->
    <xsd:complexType name="RegistrationEntryStatusType">
        <xsd:sequence>
            <!-- xsd:element name="RegEntryID" type="wsa:EndpointReferenceType" minOccurs="1" maxOccurs="1"/ -->
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Status" type="isis:StatusType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Fault" type="isis:FaultType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="StatusType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="HeaderType">
        <xsd:sequence>
            <xsd:element name="RequesterID" type="xsd:string"/> <!-- Identifier of the source HED -->
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RegistrationEntryType">
        <xsd:sequence>
            <xsd:element name="ID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="SrcAdv" type="isis:ServiceAdvertisementType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="MetaSrcAdv" type="isis:ServiceAdvertisementMetadataType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ServiceAdvertisementType">
        <xsd:sequence>
            <xsd:element name="Type" type="isis:ServiceTypeType"/>
            <xsd:element name="EPR" type="wsa:EndpointReferenceType"/>
            <xsd:element name="Impl" type="xsd:string"/>
            <xsd:element name="Version" type="xsd:string"/>
            <xsd:element name="URI" type="xsd:anyURI"/>
            <xsd:element name="AuthzInfo" type="isis:AuthorizationInfoType"/> <!-- Authorization information -->
            <xsd:element name="SSPair" type="isis:NameValuePairType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ServiceAdvertisementMetadataType">
        <xsd:sequence>
            <xsd:element name="Expiration" type="xsd:duration"/>
            <xsd:element name="GenTime" type="xsd:dateTime"/>
            <xsd:element name="Source" type="wsa:EndpointReferenceType"/>
            <xsd:element name="Status" type="xsd:string"/> <!-- Registration status: NEW, ACCEPTED ... -->
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="FaultTypeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- description of fault -->
    <xsd:complexType name="FaultType">
        <xsd:sequence>
            <xsd:element name="Name"        type="xsd:string"/>
            <xsd:element name="Type"        type="isis:FaultTypeType"/>
            <xsd:element name="Description" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FullServiceDescriptionType">
        <xsd:sequence>
            <xsd:element name="CoreSD" type="isis:CoreServiceDescriptionType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="ExtSD" type="isis:ExtendedServiceDescriptionType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Resource" type="isis:ResourceDescriptionType" minOccurs="0" maxOccurs="1"/>
             <xsd:element name="Activity" type="isis:ActivityDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CoreServiceDescriptionType">
        <xsd:sequence>
            <xsd:element name="Status" type="xsd:string"/>
            <xsd:element name="Type" type="isis:ServiceTypeType"/>
            <xsd:element name="EPR" type="wsa:EndpointReferenceType"/> <!-- Endpoint reference -->
            <xsd:element name="URI" type="xsd:anyURI"/>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Impl" type="xsd:string"/> <!-- Name of the implementation (ComputingService: A-REX, ...) -->
            <xsd:element name="Version" type="xsd:string"/> <!-- Version of the service implementation -->
            <xsd:element name="Profile" type="isis:ProfileType"/> <!-- Supported profiles -->
            <xsd:element name="AuthzInfo" type="isis:AuthorizationInfoType"/> <!-- Authorization information -->
            <xsd:element name="AuthInfo" type="isis:AuthenticationInfoType"/> <!-- Authentication information -->
        </xsd:sequence>
    </xsd:complexType>

    <!-- List of the service types will be provided by the GLUE-2.0 -->
    <xsd:simpleType name="ServiceTypeType">
        <xsd:restriction base="xsd:string">
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ProfileType">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AuthorizationInfoType">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AuthenticationInfoType">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NameValuePairType">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Service Specific attributes will be defined later following GLUE-2.0 -->
    <xsd:complexType name="ExtendedServiceDescriptionType">
        <xsd:sequence>
            <xsd:element name="Pair" type="isis:NameValuePairType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Service Specific attributes describing resources will be defined later following GLUE-2.0 -->
    <xsd:complexType name="ResourceDescriptionType">
        <xsd:sequence>
            <xsd:element name="Pair" type="isis:NameValuePairType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Service Specific attributes describing activity will be defined later following GLUE-2.0 -->
    <xsd:complexType name="ActivityDescriptionType">
        <xsd:sequence>
            <xsd:element name="Pair" type="isis:NameValuePairType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
