src/hed/acc/JobDescriptionParser/schema/nordugrid-jsdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	    xmlns="http://www.nordugrid.org/ws/schemas/jsdl-arc"
	    xmlns:jsdl-arc="http://www.nordugrid.org/ws/schemas/jsdl-arc"
	    xmlns:jsdl="http://schemas.ggf.org/jsdl/2005/11/jsdl"
	    targetNamespace="http://www.nordugrid.org/ws/schemas/jsdl-arc">

 <xsd:complexType name="Range_Type">
  <xsd:sequence>
   <xsd:element name="Min" type="xsd:long"/>
   <xsd:element name="Max" type="xsd:long"/>
  </xsd:sequence>
 </xsd:complexType>

 <xsd:element name="BenchmarkType" type="xsd:string"/>
 <xsd:element name="BenchmarkValue" type="xsd:long"/>

 <xsd:simpleType name="SoftwareOp_Type">
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="=="/>
   <xsd:enumeration value="!="/>
   <xsd:enumeration value="<"/>
   <xsd:enumeration value=">"/>
   <xsd:enumeration value="<="/>
   <xsd:enumeration value=">="/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:element name="Software" type="Software_Type"/>

 <xsd:complexType name="Software_Type">
  <xsd:sequence>
   <xsd:element name="Family" type="xsd:long"/>
   <xsd:element name="Version" type="xsd:long"/>
  </xsd:sequence>
  <xsd:attribute name="require" type="jsdl-arc:SoftwareOp_Type" use="optional"/>
 </xsd:complexType>

 <xsd:simpleType name="UserTag_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="UserTag" minOccurs="0"/ -->
  <xsd:restriction base="xsd:string"/>
 </xsd:simpleType>
 <xsd:element name="UserTag" type="UserTag_Type"/>

 <xsd:simpleType name="ActivityOldId_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="ActivityOldId" minOccurs="0"/ -->
  <xsd:restriction base="xsd:string"/>
 </xsd:simpleType>
 <xsd:element name="ActivityOldId" type="ActivityOldId_Type"/>

 <xsd:complexType name="Exec_Type">
  <xsd:sequence>
   <xsd:element name="Path" type="xsd:string"/>
   <xsd:element name="Argument" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name="Prologue" type="Exec_Type"/>
 <xsd:element name="Epilogue" type="Exec_Type"/>

 <xsd:simpleType name="LogDir_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="LogDir" minOccurs="0"/ -->
  <xsd:restriction base="xsd:string"/>
 </xsd:simpleType>
 <xsd:element name="LogDir" type="LogDir_Type"/>

 <xsd:simpleType name="RemoteLogging_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="RemoteLogging" minOccurs="0" maxOccurs="3"/ -->
  <xsd:restriction base="xsd:string"/>
 </xsd:simpleType>
 <xsd:element name="RemoteLogging" type="RemoteLogging_Type"/>

 <xsd:simpleType name="Rerun_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type (default: false) </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="Rerun" minOccurs="0"// -->
  <xsd:restriction base="xsd:positiveInteger"/>
 </xsd:simpleType>
 <xsd:element name="Rerun" type="Rerun_Type"/>

 <xsd:simpleType name="Priority_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type (default: false) </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="Priority" minOccurs="0"// -->
  <xsd:restriction base="xsd:positiveInteger"/>
 </xsd:simpleType>
 <xsd:element name="Priority" type="Priority_Type"/>

 <xsd:simpleType name="ExpiryTime_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type (default: false) </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="ExpiryTime" minOccurs="0"// -->
  <xsd:restriction base="xsd:dateTime"/>
 </xsd:simpleType>
 <xsd:element name="ExpiryTime" type="ExpiryTime_Type"/>

 <xsd:simpleType name="ProcessingStartTime_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type (default: false) </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="ProcessingStartTime" minOccurs="0"// -->
  <xsd:restriction base="xsd:dateTime"/>
 </xsd:simpleType>
 <xsd:element name="ProcessingStartTime" type="ProcessingStartTime_Type"/>

 <xsd:simpleType name="NotificationType_Type">
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="Email"/>
  </xsd:restriction>
 </xsd:simpleType>

 <xsd:simpleType name="GMState_Type">
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="ACCEPTED"/>
   <xsd:enumeration value="PREPARING"/>
   <xsd:enumeration value="SUBMIT"/>
   <xsd:enumeration value="INLRMS"/>
   <xsd:enumeration value="FINISHING"/>
   <xsd:enumeration value="FINISHED"/>
   <xsd:enumeration value="DELETED"/>
   <xsd:enumeration value="CANCELING"/>
  </xsd:restriction>
 </xsd:simpleType>

 <xsd:complexType name="Notification_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="Notification" minOccurs="0" maxOccurs="3"/ -->
  <xsd:sequence>
   <xsd:element name="Type" type="NotificationType_Type" minOccurs="0"/>
   <xsd:element name="Endpoint" minOccurs="0" type="xsd:string"/>
   <xsd:element name="State" minOccurs="1" maxOccurs="unbounded" type="GMState_Type"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name="Notification" type="Notification_Type"/>

 <xsd:complexType name="AccessControl_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="AccessControl" minOccurs="0"/ -->
  <xsd:sequence>
   <xsd:any namespace="##other" processContents="lax" minOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name="AccessControl" type="AccessControl_Type"/>

 <xsd:simpleType name="CredentialService_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="CredentialService" minOccurs="0"/ -->
  <xsd:restriction base="xsd:anyURI"/>
 </xsd:simpleType>
 <xsd:element name="CredentialService" type="CredentialService_Type"/>

 <xsd:simpleType name="DryRun_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="DryRun" minOccurs="0"/ -->
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="yes"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:element name="DryRun" type="DryRun_Type"/>

 <xsd:element name="Platform" type="jsdl:ProcessorArchitectureEnumeration"/>

 <xsd:simpleType name="NetworkInfo_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="NetworkInfo" minOccurs="0"/ -->
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="100megabitethernet"/>
   <xsd:enumeration value="gigabitethernet"/>
   <xsd:enumeration value="myrinet"/>
   <xsd:enumeration value="infiniband"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:element name="NetworkInfo" type="NetworkInfo_Type"/>

 <xsd:simpleType name="NodeAccess_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="NodeAccess" minOccurs="0"/ -->
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="inbound"/>
   <xsd:enumeration value="outbound"/>
   <xsd:enumeration value="inoutbound"/>
  </xsd:restriction>
 </xsd:simpleType>
 <xsd:element name="NodeAccess" type="NodeAccess_Type"/>


 <xsd:simpleType name="SessionLifeTime_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="SessionLifeTime" minOccurs="0"/ -->
  <xsd:restriction base="xsd:long"/>
 </xsd:simpleType>
 <xsd:element name="SessionLifeTime" type="SessionLifeTime_Type"/>

 <xsd:element name="Value" type="Range_Type">
  <xsd:annotation><xsd:documentation> For jsdl:IndividualCPUTime and jsdl:TotalCPUTime </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="Value" minOccurs="0"/ -->
 </xsd:element>

 <xsd:complexType name="Time_Type">
  <xsd:sequence>
   <xsd:element ref="jsdl-arc:Value">
   <xsd:element ref="jsdl-arc:BenchmarkType">
   <xsd:element ref="jsdl-arc:BenchmarkValue">
  </xsd:sequence>
 </xsd:complexType>

 <xsd:element name="IndividualWallTime" type="Time_Type">
  <xsd:annotation><xsd:documentation> For jsdl: </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="IndividualWallTime" minOccurs="0"/ -->
 </xsd:element>

 <xsd:element name="TotalWallTime" type="Time_Type">
  <xsd:annotation><xsd:documentation> For jsdl: </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="TotalWallTime" minOccurs="0"/ -->
 </xsd:element>

 <xsd:complexType name="CEType_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="CEType" minOccurs="0"/ -->
  <xsd:sequence>
   <xsd:element ref="jsdl-arc:Software"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name="CEType" type="CEType_Type"/>

 <xsd:complexType name="SlotRequirement_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="SlotRequirement" minOccurs="0"/ -->
  <xsd:sequence>
   <xsd:element name="NumberOfSlots" type="xsd:integer" minOccurs="0"/>
   <xsd:element name="ProcessPerHost" type="xsd:integer" minOccurs="0"/>
   <xsd:element name="ThreadsPerProcesses" type="xsd:integer" minOccurs="0"/>
   <xsd:element name="SPMDVariation" type="xsd:string" minOccurs="0"/>
   <xsd:element name="ExclusiveExecution" type="xsd:boolean" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name="SlotRequirement" type="SlotRequirement_Type"/>

 <xsd:simpleType name="QueueName_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="QueueName" minOccurs="0"/ -->
  <xsd:restriction base="xsd:string"/>
 </xsd:simpleType>
 <xsd:element name="QueueName" type="QueueName_Type"/>

 <xsd:complexType name="CandidateTarget_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="CandidateTarget" minOccurs="0"/ -->
  <xsd:sequence>
   <xsd:element ref="jsdl-arc:QueueNames" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name="CandidateTarget" type="CandidateTarget_Type"/>

 <xsd:complexType name="RunTimeEnvironment_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="RunTimeEnvironment" minOccurs="0" maxOccurs="unbounded"/ -->
  <xsd:sequence>
   <xsd:element ref="jsdl-arc:Software"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name="RunTimeEnvironment" type="RunTimeEnvironment_Type"/>

 <xsd:simpleType name="IsExecutable_Type">
  <xsd:annotation><xsd:documentation> For jsdl:DataStaging_Type (default: false) </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="IsExecutable" minOccurs="0"/ -->
  <xsd:restriction base="xsd:boolean"/>
 </xsd:simpleType>
 <xsd:element name="IsExecutable" type="IsExecutable_Type"/>

 <xsd:simpleType name="FileSize_Type">
  <xsd:annotation><xsd:documentation> For jsdl:DataStaging_Type </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="FileSize" minOccurs="0"/ -->
  <xsd:restriction base="xsd:long"/>
 </xsd:simpleType>
 <xsd:element name="FileSize" type="FileSize_Type"/>

 <xsd:simpleType name="Checksum_Type">
  <xsd:annotation><xsd:documentation> For jsdl:DataStaging_Type </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="Checksum" minOccurs="0"/ -->
  <xsd:restriction base="xsd:string"/>
 </xsd:simpleType>
 <xsd:element name="Checksum" type="Checksum_Type"/>

 <xsd:simpleType name="URIOption_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="URIOption" minOccurs="0" maxOccurs="unbounded"/ -->
  <xsd:restriction base="xsd:string"/>
 </xsd:simpleType>
 <xsd:element name="URIOption" type="URIOption_Type"/>

 <xsd:complexType name="Location_Type">
  <xsd:annotation><xsd:documentation> For jsdl:_Type </xsd:documentation></xsd:annotation>
  <!-- xsd:element ref="Location" minOccurs="0" maxOccurs="unbounded"/ -->
  <xsd:sequence>
   <xsd:element ref="jsdl:URI"/>
   <xsd:element ref="jsdl-arc:URIOption"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:element name="Location" type="Location_Type"/>

</xsd:schema>
