src/services/a-rex/a-rex.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://www.nordugrid.org/schemas/ArcConfig/2009/arex"
  xmlns:arc="http://www.nordugrid.org/schemas/ArcConfig/2009/arex"
  targetNamespace="http://www.nordugrid.org/schemas/ArcConfig/2009/arex"
  elementFormDefault="qualified">

<!-- Imports -->
<xsd:import namespace="http://www.nordugrid.org/schemas/ArcConfig/2009/arex/InfoProvider" schemaLocation="./a-rex_infoprovider.xsd"/>

    <xsd:complexType name="endpoint_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                This element defines URL of A-REX service as seen from outside.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="gmconfigtype_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="INI"/>
          <xsd:enumeration value="XML"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="gmconfig_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                 This element defines path to arc0 Grid Manager 
                 configuration file. If present values in that file will
                 overwrite those defined as siblings of this element.
                 If string is empty its value is /etc/arc.conf.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="gmconfigtype_Type"
                               use="optional" default="INI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="gmrun_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                 This element defines how grid-manager part of A-REX is run.
                 * internal - as a thread inside service container.
                 * none - no grid-manager is run.
                 * external - as a separate executable (not supported anymore).
                 Default is 'internal'.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="internal"/>
            <xsd:enumeration value="external"/>
            <xsd:enumeration value="none"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="usermap_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Defines parameters for mapping Grid user identity to 
                local account. Currently only default account name
                can be specified.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="defaultLocalName" type="xsd:string"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Grid Manager like configuration starts here -->

    <xsd:complexType name="LRMS_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Defines parameters for controlling LRMS specific 
                and LRMS related functionality.
                * type - name of LRMS/batch system
                * defaultShare - optional name of default ComputingShare
                * sharedFilesystem - either session directory is shared
                  with computing node
                * GNUTimeUtility - location and name of GNU time executable
                * any accommodates numerous LRMS configuration parameters
                  * pbs_bin_path="/usr/bin"
                  * pbs_log_path="/var/spool/pbs/server_logs"
                  * condor_location="/opt/condor"
                  * condor_config="/opt/condor/etc/condor_config"
                  * condor_rank="(1-LoadAvg/2)*(1-LoadAvg/2)*Memory/1000*KFlops/1000000"
                  * slurm_bin_path="/usr/bin"
                  * sge_bin_path="/opt/n1ge6/bin/lx24-x86"
                  * sge_root="/opt/n1ge6"
                  * sge_cell="default"
                  * sge_execd_port="537"
                  * lsf_bin_path="/usr/local/lsf/bin/"
                  * lsf_profile_path="/usr/share/lsf/conf"
                  * ll_bin_path="/opt/ibmll/LoadL/full/bin"
                  * ll_consumable_resources="yes"
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="defaultShare" type="xsd:string"
                         minOccurs="0"/>
            <xsd:element name="sharedFilesystem" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="sharedScratchDir" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="scratchDir" type="xsd:string" minOccurs="0"/>
            <xsd:element name="runtimeDir" type="xsd:string" minOccurs="0"/>
            <xsd:element name="GNUTimeUtility" type="xsd:string" minOccurs="0"/>
            <xsd:any namespace="http://www.nordugrid.org/schemas/ArcConfig/2009/arex/LRMS"
                         minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="loadLimits_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Defines parameters influencing load imposed on gateway 
                computer. Unless specified missing element means do not limit.
                * maxJobsTracked - jobs which are not in FINISHED state (jobs
                  tracked in RAM)
                * maxJobsRun - jobs being run (SUBMITTING, INLRMS states)
                * maxJobsTransfered - jobs being processed on frontend 
                  (PREPARING, FINISHING states)
                * maxJobsTransferedAdditional - additional reserved number 
                  of jobs being processed on frontend
                * maxFilesTransfered - number of files being transfered 
                  simultaneously by jobs in PREPARING and FINISHING states.
                  Value is per job.
                * wakeupPeriod - specifies how often cheks for new jobs 
                  arrived, job state change requests, etc are done. That 
                  is resposivity of the service. The period is in seconds. 
                  Default is 3 minutes. Usually this element is not needed.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="maxJobsTracked" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
            <xsd:element name="maxJobsRun" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
            <xsd:element name="maxJobsTransfered" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
            <xsd:element name="maxJobsTransferedAdditional"
                         type="xsd:nonNegativeInteger" minOccurs="0"/>
            <xsd:element name="maxFilesTransfered"
                         type="xsd:nonNegativeInteger" minOccurs="0"/>
            <xsd:element name="wakeupPeriod" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="cachelocation_Type">
        <xsd:sequence>
            <xsd:element name="path" type="xsd:string"/>
            <xsd:element name="link" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="cache_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Parameters related to cache functionality. Multiple caches
                may be specified. Cached data will be distributed evenly 
                over the caches. If none such element is present caching is 
                disabled.
                * location - path to a directory to store cached data. 
                  Multiple cache directories may be specified by specifying
                  multiple location elements. Cached data will be distributed
                  evenly over the caches.
                * link - optional path at which the location is accessible on
                  computing nodes, if it is different from the path on the
                  service host.
                * highWatermark, lowWatermark - specify high and low
                  watermarks for space used by cache, as a percentage of
                  the space on the file system on which the cache directory
                  is located. When the max is exceeded, files will be deleted
                  to bring the used space down to the min level. It is a
                  good idea to have the cache on its own separate file system.
                  To turn off this feature those elements must be absent.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="location" type="cachelocation_Type"
                         maxOccurs="unbounded"/>
            <xsd:element name="highWatermark" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
            <xsd:element name="lowWatermark" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Globus_Type">
       <xsd:sequence>                    
          <xsd:element name="gridmapfile" type="xsd:string"
                       minOccurs="0"/>
          <xsd:element name="cadir" type="xsd:string"
                       minOccurs="0"/>
          <xsd:element name="certpath" type="xsd:string"
                       minOccurs="0"/>
          <xsd:element name="keypath" type="xsd:string"
                       minOccurs="0"/>
          <xsd:element name="TCPPortRange" type="xsd:string"
                       minOccurs="0"/>
          <xsd:element name="UDPPortRange" type="xsd:string"
                       minOccurs="0"/>
       </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="timeouts_Type">
       <xsd:sequence>                    
          <xsd:element name="minSpeed"
                       type="xsd:nonNegativeInteger" minOccurs="0"/>
          <xsd:element name="minSpeedTime"
                       type="xsd:nonNegativeInteger" minOccurs="0"/>
          <xsd:element name="minAverageSpeed"
                       type="xsd:nonNegativeInteger" minOccurs="0"/>
          <xsd:element name="maxInactivityTime"
                       type="xsd:nonNegativeInteger" minOccurs="0"/>
       </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="dataTransfer_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="secureTransfer" type="xsd:boolean"
                         minOccurs="0"/>
            <xsd:element name="passiveTransfer" type="xsd:boolean"
                         minOccurs="0"/>
            <xsd:element name="localTransfer" type="xsd:boolean"
                         minOccurs="0"/>
            <xsd:element name="timeouts" minOccurs="0" type="arc:timeouts_Type"/>

            <xsd:element name="maxRetries" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
            <xsd:element name="mapURL" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="from" type="xsd:anyURI"/>
                        <xsd:element name="to" type="xsd:string"/>
                        <xsd:element name="at" type="xsd:string"/>
                    </xsd:sequence>
                    <xsd:attribute name="link" type="xsd:boolean"
                                   use="optional"/>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="Globus" minOccurs="0" type="arc:Globus_Type"/>            
            <xsd:element name="httpProxy" type="xsd:anyURI"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="control_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="username" type="xsd:string" minOccurs="0"/>
            <xsd:element name="controlDir" type="xsd:string"/>
            <xsd:element name="sessionRootDir" type="xsd:string"
                         maxOccurs="unbounded"/>
            <xsd:element name="cache" type="cache_Type"
                         minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="defaultTTL" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
            <xsd:element name="defaultTTR" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
            <xsd:element name="maxReruns" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
            <xsd:element name="noRootPower" type="xsd:boolean"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="authPluginAction_Type">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="FAIL"/>
            <xsd:enumeration value="PASS"/>
            <xsd:enumeration value="LOG"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="authPlugin_Type">
        <xsd:sequence>
            <xsd:element name="state" type="xsd:string"/>
            <xsd:element name="command" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="timeout" type="xsd:nonNegativeInteger"
                       use="optional"/>
        <xsd:attribute name="onSuccess" type="authPluginAction_Type"
                       use="optional" default="PASS"/>
        <xsd:attribute name="onFailure" type="authPluginAction_Type"
                       use="optional" default="FAIL"/>
        <xsd:attribute name="onTimeout" type="authPluginAction_Type"
                       use="optional" default="FAIL"/>
    </xsd:complexType>


    <!-- Top level elements -->

    <xsd:element name="gmconfig" type="gmconfig_Type"/>

    <xsd:element name="endpoint" type="endpoint_Type"/>

    <xsd:element name="gmrun" type="gmrun_Type"/>

    <xsd:element name="usermap" type="usermap_Type"/>

    <!-- BES informational elements. -->

    <xsd:element name="commonName" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          CommonName attribute of bes-factory.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>

    <xsd:element name="longDescription" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          LongDescription attribute of bes-factory.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>

    <xsd:element name="LRMSName" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Name of Local Resource Management System.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>
         
    <xsd:element name="OperatingSystem" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
         Name of Operating System.
         The values are based on the OSType field of the
         CIM_OperatingSystem model:
         http://www.dmtf.org/standards/cim/cim_schema_v29

         Some examples of valid choices: LINUX, MACOS, Solaris, Windows 2000
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>

    <xsd:element name="InfoproviderWakeupPeriod" type="xsd:nonNegativeInteger">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The GLUE2 infoprovider wake up period time in second
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="debugLevel_Type">
       <xsd:simpleContent>
          <xsd:extension base="xsd:string">
             <xsd:attribute name="level" default="INFO">
                <xsd:simpleType>
                   <xsd:restriction base="xsd:string">
                      <xsd:enumeration value="VERBOSE"/>          
                      <xsd:enumeration value="DEBUG"/>
                      <xsd:enumeration value="INFO"/>
                      <xsd:enumeration value="WARNING"/>
                       <xsd:enumeration value="ERROR"/>
                       <xsd:enumeration value="FATAL"/>
                   </xsd:restriction>
                 </xsd:simpleType>
             </xsd:attribute>
          </xsd:extension>
       </xsd:simpleContent>
    </xsd:complexType>

    <xsd:element name="debugLevel" type="debugLevel_Type"/>

    <xsd:element name="loadLimits" type="loadLimits_Type"/>

    <xsd:element name="dataTransfer" type="dataTransfer_Type"/>

    <xsd:element name="serviceMail" type="xsd:string"/>

    <xsd:element name="jobLogPath" type="xsd:string"/>

    <xsd:element name="jobReport" type="arc:jobReport_Type"/>
    
    <xsd:complexType name="jobReport_Type">
       <xsd:sequence>
           <xsd:element name="destination" type="xsd:anyURI"/>
           <xsd:element name="expiration" type="xsd:nonNegativeInteger"
                            minOccurs="0"/>
           <xsd:element name="type" type="xsd:string"
                            minOccurs="0"/>
           <xsd:element name="parameters" type="xsd:string"
                             minOccurs="0"/>
           <xsd:element name="keyPath" type="xsd:string"
                             minOccurs="0"/>
           <xsd:element name="certificatePath" type="xsd:string"
                             minOccurs="0"/>
           <xsd:element name="CACertificatesDir" type="xsd:string"
                             minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="authPlugin" type="authPlugin_Type"/>
 
    <!-- There should be minOccurs="1" here. But to allow this element to
         be defined in separate file we keep minOccurs="0" for all elements -->
    <xsd:element name="control" type="control_Type"/>

    <xsd:element name="helperUtility" type="arc:helperUtility_Type"/>

    <xsd:complexType name="helperUtility_Type">
       <xsd:sequence>
          <xsd:element name="username" type="xsd:string"/>
          <xsd:element name="command" type="xsd:string"/>
       </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="LRMS" type="LRMS_Type"/>

    <!-- 
        TODO: need to fix this any thing. The current implementation is wrong.
    
     xsd:any namespace="http://www.nordugrid.org/schemas/ArcConfig/2009/arex/InfoProvider"/-->

    <!-- Not ported elements
    #logsize="100000 2"
    #logfile="/var/log/grid-manager.log"
    #pidfile="/var/run/grid-manager.pid"
    #localcred="0 acquire@/opt/nordugrid/lib/afs.so %C/job.%I.proxy"
    #allowsubmit="mygroup"
    #allownew=no
    #tmpdir="/tmp"
    -->     

</xsd:schema>

