src/services/a-rex/a-rex.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.nordugrid.org/schemas/a-rex"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
 xmlns:wsa="http://www.w3.org/2005/08/addressing"
 xmlns:bes-factory="http://schemas.ggf.org/bes/2006/08/bes-factory"
 xmlns:bes-mgmt="http://schemas.ggf.org/bes/2006/08/bes-management"
 xmlns:deleg="http://www.nordugrid.org/schemas/delegation"
 xmlns:wsrf-rpw="http://docs.oasis-open.org/wsrf/rpw-2"
 xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2"
 xmlns:a-rex="http://www.nordugrid.org/schemas/a-rex">


  <wsdl:import namespace="http://www.nordugrid.org/schemas/delegation" location="../../hed/libs/delegation/delegation.wsdl"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/rpw-2" location="http://docs.oasis-open.org/wsrf/rpw-2.wsdl"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/rw-2" location="http://docs.oasis-open.org/wsrf/rw-2.wsdl"/>

  <wsdl:types>
    <xsd:schema targetNamespace="http://www.nordugrid.org/schemas/a-rex">

      <xsd:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="./ws-addr.xsd"/>
      <xsd:import namespace="http://schemas.ggf.org/bes/2006/08/bes-factory" schemaLocation="./bes-factory.xsd"/>

      <xsd:simpleType name="ActivitySubStateType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Accepting"/>
          <xsd:enumeration value="Accepted"/>
          <xsd:enumeration value="Preparing"/>
          <xsd:enumeration value="Prepared"/>
          <xsd:enumeration value="Submitting"/>
          <xsd:enumeration value="Executing"/>
          <xsd:enumeration value="Killing"/>
          <xsd:enumeration value="Executed"/>
          <xsd:enumeration value="Finishing"/>
          <xsd:enumeration value="Finished"/>
          <xsd:enumeration value="Failed"/>
          <xsd:enumeration value="Deleted"/>
          <xsd:enumeration value="Pending"/>
          <xsd:enumeration value="Held"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="State" type="a-rex:ActivitySubStateType"/>
      <xsd:element name="LRMSState" type="xsd:string"/>

      <xsd:simpleType name="ActivityStatusVerbosityType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="BES"/>
          <xsd:enumeration value="Basic"/>
          <xsd:enumeration value="Full"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ActivityStatusVerbosity" type="a-rex:ActivityStatusVerbosityType"/>

      <xsd:complexType name="Glue2ResourceType">
        <xsd:sequence>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Glue2JobType">
        <xsd:sequence>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ActivityType">
        <xsd:sequence>
          <xsd:element name="ActivityIdentifier" type="wsa:EndpointReferenceType"/>
          <xsd:element ref="bes-factory:ActivityDocument" minOccurs='0'/>
          <xsd:element name="Glue2Job" type="a-rex:Glue2JobType" minOccurs='0'/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ActivitiesType">
        <xsd:sequence>
          <xsd:element name="Activity" type="a-rex:ActivityType" minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ResourceInformationDocumentType">
        <xsd:sequence>
          <xsd:element name="BESFactory" type="bes-factory:FactoryResourceAttributesDocumentType"/>
          <xsd:element name="Glue2Resource" type="a-rex:Glue2ResourceType" minOccurs='0'/>
          <xsd:element name="Activities" type="a-rex:ActivitiesType" minOccurs='0'/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="TheseFilesNeedToCheckType">
        <xsd:sequence>
	          <xsd:element name="FileURL" type="xsd:anyURI" minOccurs="1" maxOccurs="unbounded"/>    
        </xsd:sequence>
      </xsd:complexType>
		
      <xsd:complexType name="CacheCheckRequestType">
        <xsd:sequence>
          <xsd:element name="TheseFilesNeedToCheck" type="a-rex:TheseFilesNeedToCheckType" minOccurs='1' maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="CacheCheckRequest" type="a-rex:CacheCheckRequestType"/>


      <xsd:complexType name="ResultType">
        <xsd:sequence>
	          <xsd:element name="FileURL" type="xsd:anyURI" minOccurs="1" maxOccurs="1"/>    
	          <xsd:element name="ExistInTheCache" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>    
	          <xsd:element name="FileSize" type="xsd:long" minOccurs="1" maxOccurs="1"/>    
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="CacheCheckResultType">
        <xsd:sequence>
	          <xsd:element name="Result" type="a-rex:ResultType" minOccurs="1" maxOccurs="unbounded"/>    
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="CacheCheckResponseType">
        <xsd:sequence>
          <xsd:element name="CacheCheckResult" type="a-rex:CacheCheckResultType" minOccurs='1' maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="CacheCheckResponse" type="a-rex:CacheCheckResponseType"/>

      <xsd:complexType name="CacheConfigurationFaultType">
        <xsd:sequence>
           <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
        
 
      <xsd:complexType name="CacheDisabledFaultType">
        <xsd:sequence>
            <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
         </xsd:sequence>
      </xsd:complexType>
      
      <xsd:element name="CacheDisabledFault" type="a-rex:CacheDisabledFaultType"/>     
      <xsd:element name="CacheConfigurationFault" type="a-rex:CacheConfigurationFaultType"/>  

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="CacheCheckRequest">
    <wsdl:part name="CacheCheckRequest" element="a-rex:CacheCheckRequest"/>
  </wsdl:message>

  <wsdl:message name="CacheCheckResponse">
    <wsdl:part name="CacheCheckResponse" element="a-rex:CacheCheckResponse"/>
  </wsdl:message>

  <wsdl:message name="CacheConfigurationFault">
    <wsdl:part name="CacheConfigurationFault" element="a-rex:CacheConfigurationFault"/>
  </wsdl:message>
  
    <wsdl:message name="CacheDisabledFault">
    <wsdl:part name="CacheDisabledFault" element="a-rex:CacheDisabledFault"/>
  </wsdl:message>

  <wsdl:portType name="a-rex">
    <wsdl:operation name="CacheCheck">
      <wsdl:documentation>
        This will be give a solution to query that files are in the grid-manager cache or not. 
        The DataBroker will use it to sent the job where the data is.  
      </wsdl:documentation>
      <wsdl:input name="CacheCheckRequest"
        message="a-rex:CacheCheckRequest"/>
      <wsdl:output name="CacheCheckResponse"
        message="a-rex:CacheCheckResponse"/>
      <wsdl:fault name="CacheConfigurationFault"
        message="a-rex:CacheConfigurationFault"
        wsa:Action="http://www.nordugrid.org/schemas/a-rex/fault"/>
      <wsdl:fault name="CacheDisabledFault"
        message="a-rex:CacheDisabledFault"
        wsa:Action="http://www.nordugrid.org/schemas/a-rex/fault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="a-rex" type="a-rex:a-rex">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CacheCheck">
      <soap:operation soapAction="CacheCheck"/>
      <wsdl:input name="CacheCheckRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CacheCheckResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CacheConfigurationFault">
        <soap:fault name="CacheConfigurationFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="CacheDisabledFault">
        <soap:fault name="CacheDisabledFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="a-rex">
    <wsdl:port name="delegation" binding="deleg:DelegationBinding">
      <soap:address location="http://localhost:80"/>
    </wsdl:port>
    <wsdl:port name="a-rex" binding="a-rex:a-rex">
      <soap:address location="http://localhost:80"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
