src/services/a-rex/a-rex.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.nordugrid.org/schemas/a-rex"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
 xmlns:bes-factory="http://schemas.ggf.org/bes/2006/08/bes-factory"
 xmlns:bes-mgmt="http://schemas.ggf.org/bes/2006/08/bes-management"
 xmlns="http://www.nordugrid.org/schemas/a-rex">


  <wsdl:import namespase="http://schemas.ggf.org/bes/2006/08/bes-factory" location="./bes-factory.wsdl"/>
  <wsdl:import namespase="http://schemas.ggf.org/bes/2006/08/bes-management" location="./bes-management.wsdl"/>
<!--

<wsdl:types>
 <schema targetNamespace="urn:echo"
  xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

  <simpleType name="say">
   <restriction base="xsd:string"/>
  </simpleType>

  <simpleType name="hear">
   <restriction base="xsd:string"/>
  </simpleType>
  
  <complexType name="echoRequest">
   <sequence>
    <element name="say" type="echo:say" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>

  <complexType name="echoResponse">
   <sequence>
    <element name="hear" type="echo:hear" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
   
  <element name="echo" type="echo:echoRequest"/>
  <element name="echoResponse" type="echo:echoResponse"/>

 </schema>
</wsdl:types>

<wsdl:message name="echoRequest">
 <wsdl:part name="echoRequest" element="echo:echo"/>
</wsdl:message>

<wsdl:message name="echoResponse">
 <wsdl:part name="echoResponse" element="echo:echoResponse"/>
</wsdl:message>

<wsdl:portType name="echo">
 <wsdl:operation name="echo">
  <wsdl:input name="echoRequest" message="echo:echoRequest"/>
  <wsdl:output name="echoResponse" message="echo:echoResponse"/>
 </wsdl:operation>
</wsdl:portType>

<wsdl:binding name="echo" type="echo:echo">
 <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <wsdl:operation name="echo">
  <soap:operation soapAction="echo"/>
  <wsdl:input name="echoRequest">
   <soap:body use="literal"/>
  </wsdl:input>
  <wsdl:output name="echoResponse">
   <soap:body use="literal"/>
  </wsdl:output>
 </wsdl:operation>
</wsdl:binding>

-->
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.nordugrid.org/schemas/a-rex" 
                xmlns="http://www.w3.org/2001/XMLSchema">
		
      <complexType name="ChangeActivityStatusRequestType">
        <sequence>
          <element name="OldStatus" type="bes-factory:ActivityStatusType" minOccurs="0"/>
          <element name="NewStatus" type="bes-factory:ActivityStatusType"/>
        </sequence>
      </complexType>
		
      <complexType name="ChangeActivityStatusResponseType">
        <sequence>
          <element name="NewStatus" type="bes-factory:ActivityStatusType"/>
        </sequence>
      </complexType>
		
      <element name="ChangeActivityStatus" type="a-rex:ChangeActivityStatusRequestType"/>
      <element name="ChangeActivityStatusResponse" type="a-rex:ChangeActivityStatusResponseType"/>
		
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="ChangeActivityStatusRequest">
    <wsdl:part name="ChangeActivityStatusRequest" element="a-rex:ChangeActivityStatus"/>
  </wsdl:message>

  <wsdl:message name="ChangeActivityStatusResponse">
    <wsdl:part name="ChangeActivityStatusResponse" element="a-rex:ChangeActivityStatusResponse"/>
  </wsdl:message>

  <wsdl:portType name="a-rex">
    <wsdl:operation name="ChangeActivityStatus">
      <wsdl:input name="ChangeActivityStatusRequest" message="a-rex:ChangeActivityStatusRequest"/>
      <wsdl:output name="ChangeActivityStatusResponse" message="a-rex:ChangeActivityStatusResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="a-rex" type="a-rex:a-rex">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ChangeActivityStatus">
      <soap:operation soapAction="ChangeActivityStatus"/>
      <wsdl:input name="ChangeActivityStatusRequest">
         <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ChangeActivityStatusResponse">
         <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>


  <wsdl:service name="a-rex">
    <wsdl:port name="bes-factory" binding="bes-factory:BESFactoryBinding">
    </wsdl:port>
    <wsdl:port name="bes-mgmt" binding="bes-mgmt:BESManagementBinding">
    </wsdl:port>
    <wsdl:port name="a-rex" binding="a-rex:a-rex">
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
