src/services/a-rex/bes-management.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<wsdl:definitions name="BESManagement"
    targetNamespace="http://schemas.ggf.org/bes/2006/08/bes-management"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:bes-mgmt="http://schemas.ggf.org/bes/2006/08/bes-management"
    xmlns:wsa="http://www.w3/org/2005/08/addressing"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" >

  <wsdl:types>
    <xsd:schema
        attributeFormDefault="unqualified"
        elementFormDefault="qualified"
        targetNamespace="http://schemas.ggf.org/bes/2006/08/bes-management">

      <xsd:import
          namespace="http://www.w3.org/2005/08/addressing"
          schemaLocation="http://www.w3.org/2005/08/addressing/ws-addr.xsd"/>

      <!-- Message Types -->
      <xsd:complexType name="StopAcceptingNewActivitiesType">
        <xsd:sequence>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
      </xsd:complexType>
      
      <xsd:complexType name="StopAcceptingNewActivitiesResponseType">
        <xsd:sequence>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
      </xsd:complexType>
      
      <xsd:complexType name="StartAcceptingNewActivitiesType">
        <xsd:sequence>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
      </xsd:complexType>
      
      <xsd:complexType name="StartAcceptingNewActivitiesResponseType">
        <xsd:sequence>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##other" processContents="lax"/>
      </xsd:complexType>
      
      <!-- Message Elements -->
      <xsd:element name="StopAcceptingNewActivities"
        type="bes-mgmt:StopAcceptingNewActivitiesType"/>
      <xsd:element name="StopAcceptingNewActivitiesResponse"
        type="bes-mgmt:StopAcceptingNewActivitiesResponseType"/>
      <xsd:element name="StartAcceptingNewActivities"
        type="bes-mgmt:StartAcceptingNewActivitiesType"/>
      <xsd:element name="StartAcceptingNewActivitiesResponse"
        type="bes-mgmt:StartAcceptingNewActivitiesResponseType"/>
    </xsd:schema>
  </wsdl:types>

  <!-- Messages -->
  <wsdl:message name="StopAcceptingNewActivitiesRequest">
    <wsdl:part name="parameters"
        element="bes-mgmt:StopAcceptingNewActivities"/>
  </wsdl:message>

  <wsdl:message name="StopAcceptingNewActivitiesResponse">
    <wsdl:part name="parameters"
        element="bes-mgmt:StopAcceptingNewActivitiesResponse"/>
  </wsdl:message>

  <wsdl:message name="StartAcceptingNewActivitiesRequest">
    <wsdl:part name="parameters"
        element="bes-mgmt:StartAcceptingNewActivities"/>
  </wsdl:message>

  <wsdl:message name="StartAcceptingNewActivitiesResponse">
    <wsdl:part name="parameters"
        element="bes-mgmt:StartAcceptingNewActivitiesResponse"/>
  </wsdl:message>
  
  <!-- Port Type -->
  <wsdl:portType name="BESManagementPortType">
    
    <wsdl:operation name="StopAcceptingNewActivities">
      <wsdl:input 
        name="StopAcceptingNewActivities"
        message="bes-mgmt:StopAcceptingNewActivitiesRequest"
        wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-management/BESManagementPortType/StopAcceptingNewActivities"/>
      <wsdl:output 
        name="StopAcceptingNewActivitiesResponse"
        message="bes-mgmt:StopAcceptingNewActivitiesResponse"
        wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-management/BESManagementPortType/StopAcceptingNewActivitiesResponse"/>
    </wsdl:operation>

    <wsdl:operation name="StartAcceptingNewActivities">
      <wsdl:input 
        name="StartAcceptingNewActivities"
        message="bes-mgmt:StartAcceptingNewActivitiesRequest"
        wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-management/BESManagementPortType/StartAcceptingNewActivities"/>
      <wsdl:output 
        name="StartAcceptingNewActivitiesResponse"
        message="bes-mgmt:StartAcceptingNewActivitiesResponse"
        wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-management/BESManagementPortType/StartAcceptingNewActivitiesResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <!-- Bindings -->
  <wsdl:binding name="BESManagementBinding" type="bes-mgmt:BESManagementPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    
    <wsdl:operation name="StopAcceptingNewActivities">
      <soap:operation soapAction="http://schemas.ggf.org/bes/2006/08/bes-management/BESManagementPortType/StopAcceptingNewActivities" />
      <wsdl:input name="StopAcceptingNewActivities">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="StopAcceptingNewActivitiesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="StartAcceptingNewActivities">
      <soap:operation soapAction="http://schemas.ggf.org/bes/2006/08/bes-management/BESManagementPortType/StartAcceptingNewActivities" />
      <wsdl:input name="StartAcceptingNewActivities">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="StartAcceptingNewActivitiesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>    
</wsdl:definitions>
