src/services/schemas/delegation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.nordugrid.org/schemas/delegation"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
 xmlns:wsa="http://www.w3.org/2005/08/addressing"
 xmlns:deleg="http://www.nordugrid.org/schemas/delegation">

  <wsdl:types>
    <xsd:schema targetNamespace="http://www.nordugrid.org/schemas/delegation">

      <!-- Common types -->

      <xsd:simpleType name="TokenFormatType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="x509"/>
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:complexType name="ReferenceType">
        <xsd:sequence>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="DelegatedTokenType">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string"/>
          <xsd:element name="Value" type="xsd:string"/>
          <xsd:element name="Reference" type="deleg:ReferenceType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="Format" type="deleg:TokenFormatType" use="required"/>
      </xsd:complexType>
      <xsd:element name="DelegatedToken" type="deleg:DelegatedTokenType"/>

      <xsd:complexType name="TokenRequestType">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string"/>
          <xsd:element name="Value" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="Format" type="deleg:TokenFormatType" use="required"/>
      </xsd:complexType>
      <xsd:element name="TokenRequest" type="deleg:TokenRequestType"/>

      <!-- Types for messages -->

      <xsd:complexType name="DelegateCredentialsInitRequestType">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="DelegateCredentialsInit" type="deleg:DelegateCredentialsInitRequestType"/>

      <xsd:complexType name="DelegateCredentialsInitResponseType">
        <xsd:sequence>
          <xsd:element name="TokenRequest" type="deleg:TokenRequestType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="DelegateCredentialsInitResponse" type="deleg:DelegateCredentialsInitResponseType"/>

      <xsd:complexType name="UpdateCredentialsRequestType">
        <xsd:sequence>
          <xsd:element name="DelegatedToken" type="deleg:DelegatedTokenType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="UpdateCredentials" type="deleg:UpdateCredentialsRequestType"/>

      <xsd:complexType name="UpdateCredentialsResponseType">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="UpdateCredentialsResponse" type="deleg:UpdateCredentialsResponseType"/>

      <!-- Faults -->

      <xsd:complexType name="UnsupportedFaultType">
        <xsd:sequence>
          <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="UnsupportedFault" type="deleg:UnsupportedFaultType"/>

      <xsd:complexType name="ProcessingFaultType">
        <xsd:sequence>
          <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ProcessingFault" type="deleg:ProcessingFaultType"/>

      <xsd:complexType name="WrongReferenceFaultType">
        <xsd:sequence>
          <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="WrongReferenceFault" type="deleg:WrongReferenceFaultType"/>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="DelegateCredentialsInitRequest">
    <wsdl:part name="DelegateCredentialsInitRequest" element="deleg:DelegateCredentialsInit"/>
  </wsdl:message>

  <wsdl:message name="DelegateCredentialsInitResponse">
    <wsdl:part name="DelegateCredentialsInitResponse" element="deleg:DelegateCredentialsInitResponse"/>
  </wsdl:message>

  <wsdl:message name="UpdateCredentialsRequest">
    <wsdl:part name="UpdateCredentialsRequest" element="deleg:UpdateCredentials"/>
  </wsdl:message>

  <wsdl:message name="UpdateCredentialsResponse">
    <wsdl:part name="UpdateCredentialsResponse" element="deleg:UpdateCredentialsResponse"/>
  </wsdl:message>

  <wsdl:message name="UnsupportedFault">
    <wsdl:part name="Detail" element="deleg:UnsupportedFault"/>
  </wsdl:message>

  <wsdl:message name="ProcessingFault">
    <wsdl:part name="Detail" element="deleg:ProcessingFault"/>
  </wsdl:message>

  <wsdl:message name="WrongReferenceFault">
    <wsdl:part name="Detail" element="deleg:WrongReferenceFault"/>
  </wsdl:message>

  <wsdl:portType name="DelegationPortType">

   <wsdl:operation name="DelegateCredentialsInit">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input name="DelegateCredentialsInitRequest"
        message="deleg:DelegateCredentialsInitRequest"/>
      <wsdl:output name="DelegateCredentialsInitResponse"
        message="deleg:DelegateCredentialsInitResponse"/>
      <wsdl:fault name="UnsupportedFault"
        message="deleg:UnsupportedFault"/>
      <wsdl:fault name="ProcessingFault"
        message="deleg:ProcessingFault"/>
    </wsdl:operation>

   <wsdl:operation name="UpdateCredentials">
      <wsdl:documentation>
      </wsdl:documentation>
      <wsdl:input name="UpdateCredentialsRequest"
        message="deleg:UpdateCredentialsRequest"/>
      <wsdl:output name="UpdateCredentialsResponse"
        message="deleg:UpdateCredentialsResponse"/>
      <wsdl:fault name="UnsupportedFault"
        message="deleg:UnsupportedFault"/>
      <wsdl:fault name="ProcessingFault"
        message="deleg:ProcessingFault"/>
      <wsdl:fault name="WrongReferenceFault"
        message="deleg:WrongReferenceFault"/>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="DelegationBinding" type="deleg:DelegationPortType">

    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="DelegateCredentialsInit">
      <soap:operation soapAction="DelegateCredentialsInit"/>
      <wsdl:input name="DelegateCredentialsInitRequest">
         <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DelegateCredentialsInitResponse">
         <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="UpdateCredentials">
      <soap:operation soapAction="UpdateCredentials"/>
      <wsdl:input name="UpdateCredentialsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateCredentialsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

</wsdl:definitions>


