src/services/pdp/pdp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.nordugrid.org/schemas/pdp"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
 xmlns:pdp="http://www.nordugrid.org/schemas/pdp">

  <wsdl:types>
    <xsd:schema targetNamespace="http://www.nordugrid.org/schemas/pdp">

      <xsd:simpleType name="ActivitySubStateType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Accepting"/>
          <xsd:enumeration value="Accepted"/>
          <xsd:enumeration value="Preparing"/>
          <xsd:enumeration value="Prepared"/>
          <xsd:enumeration value="Submiting"/>
          <xsd:enumeration value="Executing"/>
          <xsd:enumeration value="Killing"/>
          <xsd:enumeration value="Executed"/>
          <xsd:enumeration value="Finishing"/>
          <xsd:enumeration value="Finished"/>
          <xsd:enumeration value="Failed"/>
          <xsd:enumeration value="Deleted"/>
          <xsd:enumeration value="Pending"/>
          <xsd:enumeration value="Held"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="State" type="a-rex:ActivitySubStateType"/>
		
      <xsd:complexType name="Glue2ResourceType">
        <xsd:sequence>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Glue2JobType">
        <xsd:sequence>
          <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ActivityType">
        <xsd:sequence>
          <xsd:element name="ActivityIdentifier" type="wsa:EndpointReferenceType"/>
          <xsd:element ref="bes-factory:ActivityDocument" minOccurs='0'/>
          <xsd:element name="Glue2Job" type="a-rex:Glue2JobType" minOccurs='0'/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ActivitiesType">
        <xsd:sequence>
          <xsd:element name="Activity" type="a-rex:ActivityType" minOccurs='0' maxOccurs='unbounded'/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ResourceInformationDocumentType">
        <xsd:sequence>
          <xsd:element name="BESFactory" type="bes-factory:FactoryResourceAttributesDocumentType"/>
          <xsd:element name="Glue2Resource" type="a-rex:Glue2ResourceType" minOccurs='0'/>
          <xsd:element name="Activities" type="a-rex:ActivitiesType" minOccurs='0'/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ChangeActivityStatusRequestType">
        <xsd:sequence>
	  <xsd:element name="ActivityIdentifier" type="wsa:EndpointReferenceType"/>
          <xsd:element name="OldStatus" type="bes-factory:ActivityStatusType" minOccurs="0"/>
          <xsd:element name="NewStatus" type="bes-factory:ActivityStatusType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ChangeActivityStatus" type="a-rex:ChangeActivityStatusRequestType"/>
		
      <xsd:complexType name="ChangeActivityStatusResponseType">
        <xsd:sequence>
          <xsd:element name="NewStatus" type="bes-factory:ActivityStatusType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ChangeActivityStatusResponse" type="a-rex:ChangeActivityStatusResponseType"/>
		
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="ChangeActivityStatusRequest">
    <wsdl:part name="ChangeActivityStatusRequest" element="a-rex:ChangeActivityStatus"/>
  </wsdl:message>

  <wsdl:message name="ChangeActivityStatusResponse">
    <wsdl:part name="ChangeActivityStatusResponse" element="a-rex:ChangeActivityStatusResponse"/>
  </wsdl:message>

  <wsdl:portType name="a-rex">
    <wsdl:operation name="ChangeActivityStatus">
      <wsdl:documentation>
        This operation allows any simple status change request 
	which involves no additional parameters. It should be
	used to modify job/activity execution flow:
	  - To put job on hold
	  - To rerun job in case of failure
	  - To cancel job (same as TerminateActivity of BESFActory)
	  - To remove/release job - as long as non-existence is a state
	  - Any other status change no supported by BES
      </wsdl:documentation>
      <wsdl:input name="ChangeActivityStatusRequest"
        message="a-rex:ChangeActivityStatusRequest"/>
      <wsdl:output name="ChangeActivityStatusResponse"
        message="a-rex:ChangeActivityStatusResponse"/>
      <wsdl:fault name="NotAuthorizedFault"
        message="bes-factory:NotAuthorizedFault"
        wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
      <wsdl:fault name="InvalidActivityIdentifierFault" 
        message="bes-factory:InvalidActivityIdentifierFault"
        wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
      <wsdl:fault name="CantApplyOperationToCurrentStateFault" 
         message="bes-factory:CantApplyOperationToCurrentStateFault"
         wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
      <wsdl:fault name="OperationWillBeAppliedEventuallyFault" 
         message="bes-factory:OperationWillBeAppliedEventuallyFault"
         wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
    </wsdl:operation>

    <!-- WSRF operations supported by this portType -->
    <wsdl:operation name="GetResourcePropertyDocument">
      <wsdl:input name="GetResourcePropertyDocumentRequest"
        message="wsrf-rpw:GetResourcePropertyDocumentRequest"/>
      <wsdl:output name="GetResourcePropertyDocumentResponse"
        message="wsrf-rpw:GetResourcePropertyDocumentResponse"/>
      <wsdl:fault name="ResourceUnknownFault"
        message="wsrf-rw:ResourceUnknownFault"
        wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
      <wsdl:fault name="ResourceUnavailableFault" 
        message="wsrf-rw:ResourceUnavailableFault"
        wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
    </wsdl:operation>
    <wsdl:operation name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest"
        message="wsrf-rpw:GetResourcePropertyRequest"/>
      <wsdl:output name="GetResourcePropertyResponse"
        message="wsrf-rpw:GetResourcePropertyResponse"/>
      <wsdl:fault name="ResourceUnknownFault"
        message="wsrf-rw:ResourceUnknownFault"
        wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
      <wsdl:fault name="ResourceUnavailableFault" 
        message="wsrf-rw:ResourceUnavailableFault"
        wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" 
        message="wsrf-rpw:InvalidResourcePropertyQNameFault"
        wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
    </wsdl:operation>
    <wsdl:operation name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest"
        message="wsrf-rpw:QueryResourcePropertiesRequest"/>
      <wsdl:output name="QueryResourcePropertiesResponse"
        message="wsrf-rpw:QueryResourcePropertiesResponse"/>
      <wsdl:fault name="ResourceUnknownFault"
        message="wsrf-rw:ResourceUnknownFault"
        wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
      <wsdl:fault name="ResourceUnavailableFault" 
        message="wsrf-rw:ResourceUnavailableFault"
        wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" 
        message="wsrf-rpw:InvalidResourcePropertyQNameFault"
        wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
      <wsdl:fault name="UnknownQueryExpressionDialectFault" 
        message="wsrf-rpw:UnknownQueryExpressionDialectFault"
        wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
      <wsdl:fault name="InvalidQueryExpressionFault" 
        message="wsrf-rpw:InvalidQueryExpressionFault"
        wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
      <wsdl:fault name="QueryEvaluationErrorFault" 
        message="wsrf-rpw:QueryEvaluationErrorFault"
        wsa:Action="http://schemas.ggf.org/bes/2006/08/bes-factory/BESFactoryPortType/Fault"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="pdp" type="pdp:pdp">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name=" ">
      <soap:operation soapAction="ChangeActivityStatus"/>
      <wsdl:input name="ChangeActivityStatusRequest">
         <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ChangeActivityStatusResponse">
         <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotAuthorizedFault">
        <soap:fault name="NotAuthorizedFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="InvalidActivityIdentifierFault">
        <soap:fault name="InvalidActivityIdentifierFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="CantApplyOperationToCurrentStateFault">
        <soap:fault name="CantApplyOperationToCurrentStateFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="OperationWillBeAppliedEventuallyFault">
        <soap:fault name="OperationWillBeAppliedEventuallyFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetResourcePropertyDocument">
      <soap:operation soapAction="GetResourcePropertyDocument"/>
      <wsdl:input name="GetResourcePropertyDocumentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetResourcePropertyDocumentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="ResourceUnavailableFault">
        <soap:fault name="ResourceUnavailableFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetResourceProperty">
      <soap:operation soapAction="GetResourceProperty"/>
      <wsdl:input name="GetResourcePropertyRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetResourcePropertyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="ResourceUnavailableFault">
        <soap:fault name="ResourceUnavailableFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="InvalidResourcePropertyQNameFault">
        <soap:fault name="InvalidResourcePropertyQNameFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryResourceProperties">
      <soap:operation soapAction="QueryResourceProperties"/>
      <wsdl:input name="QueryResourcePropertiesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="QueryResourcePropertiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="ResourceUnavailableFault">
        <soap:fault name="ResourceUnavailableFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="InvalidResourcePropertyQNameFault">
        <soap:fault name="InvalidResourcePropertyQNameFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="UnknownQueryExpressionDialectFault">
        <soap:fault name="UnknownQueryExpressionDialectFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="InvalidQueryExpressionFault">
        <soap:fault name="InvalidQueryExpressionFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="QueryEvaluationErrorFault">
        <soap:fault name="QueryEvaluationErrorFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="PDPService">
    <wsdl:port name="delegation" binding="deleg:DelegationBinding">
      <soap:address location="http://localhost:80"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
