src/services/iis/iis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
Interface of Information Indexing Service
-->
<wsdl:definitions name="InformationIndexing"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsa="http://www.w3.org/2005/08/addressing"
  xmlns:iis="http://www.nordugrid.org/schemas/iis/2007/06"
  xmlns:wsrf-bf="http://docs.oasis-open.org/wsrf/bf-2"
  xmlns:wsrf-rp="http://docs.oasis-open.org/wsrf/rp-2"
  xmlns:wsrf-rpw="http://docs.oasis-open.org/wsrf/rpw-2"
  xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2"
  targetNamespace="http://www.nordugrid.org/schemas/iis/2007/06"
>

    <wsdl:import namespase="http://docs.oasis-open.org/wsrf/rpw-2" location="./rpw-2.wsdl"/>


    <!-- ======= Type definitions ====== -->
    <wsdl:types>
        <xsd:schema
            xmlns:iis="http://www.nordugrid.org/schemas/iis/2007/06"
            targetNamespace="http://www.nordugrid.org/schemas/iis/2007/06"
            attributeFormDefault="unqualified"
            elementFormDefault="qualified"
        >
            <xsd:include schemaLocation="./iis.xsd" />
        </xsd:schema>
    </wsdl:types>

<!-- ====== Register ====== 
Register(list of (ServiceDescriptionMetadata, ServiceDescription))
returns:
-->
<wsdl:message name="RegisterRequest">
    <wsdl:part name="RegisterRequest" 
          element="iis:Register"/>
</wsdl:message>

<wsdl:message name="RegisterResponse">
   <wsdl:part name="RegisterResponse" 
         element="iis:RegisterResponse"/>
</wsdl:message>

<!-- ====== Exchange ====== 
Exchange(list of (ServiceDescriptionMetadata, ServiceDescription))
returns: list of (ServiceDescriptionMetadata, ServiceDescription)
-->

<wsdl:message name="ExchangeRequest">
    <wsdl:part name="ExchangeRequest"
          element="iis:Exchange"/>
</wsdl:message>

<wsdl:message name="ExchangeResponse">
   <wsdl:part name="ExchangeResponse" 
         element="iis:ExchangeResponse"/>
</wsdl:message>

<!-- ====== PortType definitions ====== -->
<wsdl:portType name="IISPortType">
    <wsdl:operation name="Register">
      <wsdl:input name="RegisterRequest"
               message="iis:RegisterRequest"/>
      <wsdl:output name="RegisterResponse"
               message="iis:RegisterResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Exchange">
      <wsdl:input name="ExchangeRequest"
               message="iis:ExchangeRequest"/>
      <wsdl:output name="ExchangeResponse"
               message="iis:ExchangeResponse"/>
    </wsdl:operation>
</wsdl:portType>

<!-- ====== Bindings ====== -->

<wsdl:binding name="iis" type="iis:IISPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Register">
      <soap:operation soapAction="Register"/>
      <wsdl:input name="RegisterRequest">
         <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RegisterResponse">
         <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exchange">
      <soap:operation soapAction="Exchange"/>
      <wsdl:input name="ExchangeRequest">
         <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ExchangeResponse">
         <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
</wsdl:binding>

<wsdl:binding name="GetResourcePropertyDocument" type="wsrf-rpw:GetResourcePropertyDocument">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetResourcePropertyDocument">
        <soap:operation soapAction="GetResourcePropertyDocument"/>
        <wsdl:input name="wsrf-rpw:GetResourcePropertyDocumentRequest">
	    <soap:body use="literal"/>
	</wsdl:input>
        <wsdl:output name="wsrf-rpw:GetResourcePropertyDocumentResponse">
	    <soap:body use="literal"/>
	</wsdl:output>
        <wsdl:fault name="ResourceUnknownFault">
            <soap:fault name="ResourceUnknownFault" use="literal" />
        </wsdl:fault>
        <wsdl:fault name="ResourceUnavailableFault">
            <soap:fault name="ResourceUnavailabbleFault" use="literal" />
        </wsdl:fault>
    </wsdl:operation>
</wsdl:binding>

<wsdl:binding name="GetResourceProperty" type="wsrf-rpw:GetResourceProperty">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetResourceProperty">
        <soap:operation soapAction="GetResourceProperty"/>
        <wsdl:input name="wsrf-rpw:GetResourcePropertyRequest">
	    <soap:body use="literal"/>
	</wsdl:input>
        <wsdl:output name="wsrf-rpw:GetResourcePropertyResponse">
	    <soap:body use="literal"/>
	</wsdl:output>
        <wsdl:fault name="ResourceUnknownFault">
            <soap:fault name="ResourceUnknownFault" use="literal" />
        </wsdl:fault>
        <wsdl:fault name="ResourceUnavailableFault">
            <soap:fault name="ResourceUnavailabbleFault" use="literal" />
        </wsdl:fault>
        <wsdl:fault name="InvalidResourcePropertyQNameFault">
            <soap:fault name="InvalidResourcePropertyQNameFault" use="literal" />
        </wsdl:fault>
    </wsdl:operation>
</wsdl:binding>

<wsdl:binding name="QueryResourceProperties" type="wsrf:QueryResourceProperties">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="QueryResourceProperties">
        <soap:operation soapAction="QueryResourceProperties"/>
        <wsdl:input name="wsrf-rpw:QueryResourcePropertiesRequest">
	    <soap:body use="literal"/>
	</wsdl:input>
        <wsdl:output name="wsrf-rpw:QueryResourcePropertiesResponse">
	    <soap:body use="literal"/>
	</wsdl:output>
        <wsdl:fault name="ResourceUnknownFault">
            <soap:fault name="ResourceUnknownFault" use="literal" />
        </wsdl:fault>
        <wsdl:fault name="ResourceUnavailableFault">
            <soap:fault name="ResourceUnavailabbleFault" use="literal" />
        </wsdl:fault>
        <wsdl:fault name="InvalidResourcePropertyQNameFault">
            <soap:fault name="InvalidResourcePropertyQNameFault" use="literal" />
        </wsdl:fault>
        <wsdl:fault name="UnknownQueryExpressionDialectFault">
            <soap:fault name="UnknownQueryExpressionDialectFault" use="literal" />
        </wsdl:fault>
        <wsdl:fault name="InvalidQueryExpressionFault">
            <soap:fault name="InvalidQueryExpressionFault" use="literal" />
        </wsdl:fault>
        <wsdl:fault name="QueryEvaluationErrorFault">
            <soap:fault name="QueryEvaluationErrorFault" use="literal" />
        </wsdl:fault>
    </wsdl:operation>
</wsdl:binding>

<!-- ====== Service definition ====== -->
<wsdl:service name="iis">
    <wsdl:port name="GetResourcePropertyDocument" binding="iis:GetResourcePropertyDocument"></wsdl:port>
    <wsdl:port name="GetResourceProperty" binding="iis:GetResourceProperty"></wsdl:port>
    <wsdl:port name="QueryResourceProperties" binding="iis:QueryResourceProperties"></wsdl:port>
    <wsdl:port name="iis" binding="iis:iis"></wsdl:port>
</wsdl:service>

</wsdl:definitions>
