src/services/storage/storage_manager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.nordugrid.org/schemas/storage-manager"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
 xmlns:wsa="http://www.w3.org/2005/08/addressing"
 xmlns:wsrf-rpw="http://docs.oasis-open.org/wsrf/rpw-2"
 xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2"
 xmlns:sm="http://www.nordugrid.org/schemas/storage-manager">

  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/rpw-2" location="http://docs.oasis-open.org/wsrf/rpw-2.wsdl"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/rw-2" location="http://docs.oasis-open.org/wsrf/rw-2.wsdl"/>

  <wsdl:types>
    <xsd:schema targetNamespace="http://www.nordugrid.org/schemas/storage-manager">

      <!-- Either collection or file -->
      <xsd:simpleType name="ItemType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Collection"/>
          <xsd:enumeration value="File"/>
        </xsd:restriction>
      </xsd:simpleType>

      <!-- type of patern for name matching -->
      <xsd:simpleType name="PatternTypeType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="regex"/>
          <xsd:enumeration value="file"/>
          <xsd:enumeration value="xpath"/>
        </xsd:restriction>
      </xsd:simpleType>

      <!-- pattern for name matching -->
      <xsd:simpleType name="PatternType">
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
      <xsd:element name="Type" type="sm:ItemType"/>

      <!-- common purpose metadata -->
      <xsd:complexType name="MetaDataType">
        <xsd:sequence>
          <xsd:element name="Key"        type="xsd:string"/>
          <xsd:element name="Value"      type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="sm:PatternTypeType" use="required"/>
      </xsd:complexType>

      <!-- type of fault  -->
      <xsd:simpleType name="FaultTypeType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Undefined"/>
          <xsd:enumeration value="SizeLimitReached"/>
        </xsd:restriction>
      </xsd:simpleType>

      <!-- description of fault -->
      <xsd:complexType name="FaultType">
        <xsd:sequence>
          <xsd:element name="Name"        type="xsd:string"/>
          <xsd:element name="Type"        type="sm:FaultTypeType"/>
          <xsd:element name="Description" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- description of fault -->
      <xsd:complexType name="LocationType">
        <xsd:sequence>
          <xsd:element name="Endpoint"    type="xsd:string"/>
          <xsd:element name="Ticket"      type="sm:FaultTypeType" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- desription of file element. Depending on request diffrent elements are mandatory -->
      <xsd:complexType name="FileDescriptionType">
        <xsd:sequence>
          <xsd:element name="Name"     type="xsd:string"/>
          <xsd:element name="GUID"     type="xsd:string" minOccurs="0"/>
          <xsd:element name="Size"     type="xsd:string" minOccurs="0"/>
          <xsd:element name="Checksum" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Created"  type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="Owner"    type="xsd:string" minOccurs="0"/>
          <xsd:element name="ACL"      type="xsd:string" minOccurs="0"/>
          <xsd:element name="Replicas" type="xsd:int" minOccurs="0"/>
          <xsd:element name="NeededReplicas" type="xsd:int" minOccurs="0"/>
          <xsd:element name="PreferedLocation" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Location" type="sm:LocationType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Metadata" type="sm:MetaDataType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="CollectionDescriptionType">
        <xsd:sequence>
          <xsd:element name="Name"     type="xsd:string"/>
          <xsd:element name="GUID"     type="xsd:string" minOccurs="0"/>
          <xsd:element name="Created"  type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="Owner"    type="xsd:string" minOccurs="0"/>
          <xsd:element name="ACL"      type="xsd:string" minOccurs="0"/>
          <xsd:element name="Replicas" type="xsd:int" minOccurs="0"/>
          <xsd:element name="NeededReplicas" type="xsd:int" minOccurs="0"/>
          <xsd:element name="Metadata" type="sm:MetaDataType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ItemReferenceType">
        <xsd:sequence>
          <xsd:element name="Name"     type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- PUT operation -->
      <xsd:complexType name="PutRequestType">
        <xsd:sequence>
          <xsd:element name="File" type="sm:FileDescriptionType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Put" type="sm:PutRequestType"/>

      <xsd:complexType name="PutResponseType">
        <xsd:sequence>
          <xsd:element name="File"  type="sm:FileDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Fault" type="sm:FaultType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="PutResponse" type="sm:PutResponseType"/>

      <!-- REPUT operation -->
      <xsd:complexType name="ReputRequestType">
        <xsd:sequence>
          <xsd:element name="File" type="sm:FileDescriptionType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Reput" type="sm:ReputRequestType"/>

      <xsd:complexType name="ReputResponseType">
        <xsd:sequence>
          <xsd:element name="File"  type="sm:FileDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Fault" type="sm:FaultType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ReputResponse" type="sm:ReputResponseType"/>

      <!-- GET operation -->
      <xsd:complexType name="GetRequestType">
        <xsd:sequence>
          <xsd:element name="File" type="sm:FileDescriptionType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Get" type="sm:GetRequestType"/>

      <xsd:complexType name="GetResponseType">
        <xsd:sequence>
          <xsd:element name="File"  type="sm:FileDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Fault" type="sm:FaultType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetResponse" type="sm:GetResponseType"/>

      <!-- DEL operation -->
      <xsd:complexType name="DelRequestType">
        <xsd:sequence>
          <xsd:element name="File" type="sm:FileDescriptionType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Del" type="sm:DelRequestType"/>

      <xsd:complexType name="DelResponseType">
        <xsd:sequence>
          <xsd:element name="File"  type="sm:FileDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Fault" type="sm:FaultType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="DelResponse" type="sm:DelResponseType"/>

     <!-- STAT operation -->
      <xsd:complexType name="StatRequestType">
        <xsd:sequence>
          <xsd:element name="Item" type="sm:ItemReferenceType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Stat" type="sm:StatRequestType"/>

      <xsd:complexType name="StatResponseType">
        <xsd:sequence>
          <xsd:element name="Collection"  type="sm:CollectionDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="File"  type="sm:FileDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Fault" type="sm:FaultType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="StatResponse" type="sm:StatResponseType"/>

     <!-- MODIFY operation -->
      <xsd:complexType name="ModifyRequestType">
        <xsd:sequence>
          <xsd:element name="Collection"  type="sm:CollectionDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="File"  type="sm:FileDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Modify" type="sm:ModifyRequestType"/>

      <xsd:complexType name="ModifyResponseType">
        <xsd:sequence>
          <xsd:element name="Collection"  type="sm:CollectionDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="File"  type="sm:FileDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Fault" type="sm:FaultType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ModifyResponse" type="sm:ModifyResponseType"/>

     <!-- Make operation -->
      <xsd:complexType name="MakeRequestType">
        <xsd:sequence>
          <xsd:element name="Collection" type="sm:CollectionDescriptionType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Make" type="sm:MakeRequestType"/>

      <xsd:complexType name="MakeResponseType">
        <xsd:sequence>
          <xsd:element name="Collection"  type="sm:CollectionDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Fault" type="sm:FaultType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="MakeResponse" type="sm:MakeResponseType"/>
      
      <!-- Unmake operation -->
      <xsd:complexType name="UnmakeRequestType">
        <xsd:sequence>
          <xsd:element name="Collection" type="sm:CollectionDescriptionType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Unmake" type="sm:UnmakeRequestType"/>

      <xsd:complexType name="UnmakeResponseType">
        <xsd:sequence>
          <xsd:element name="Collection"  type="sm:CollectionDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Fault" type="sm:FaultType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="UnmakeResponse" type="sm:UnmakeResponseType"/>
      
      <!-- List operation -->
      <xsd:complexType name="ListRequestType">
        <xsd:sequence>
          <xsd:element name="Collection" type="sm:ItemReferenceType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="List" type="sm:ListRequestType"/>

      <xsd:complexType name="ListResponseType">
        <xsd:sequence>
          <xsd:element name="File"  type="sm:FileDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Collection"  type="sm:CollectionDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Fault" type="sm:FaultType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ListResponse" type="sm:ListResponseType"/>

      <!-- Move operation -->
      <xsd:complexType name="PairType"> 
        <xsd:sequence>
          <xsd:element name="Source" type="sm:ItemReferenceType"/>
          <xsd:element name="Destination" type="sm:ItemReferenceType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NewPairType"> 
        <xsd:sequence>
          <xsd:element name="Source" type="sm:ItemReferenceType"/>
          <xsd:element name="DestinationFile" type="sm:FileDescriptionType"/>
          <xsd:element name="DestinationCollection" type="sm:CollectionDescriptionType"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="MoveRequestType">
        <xsd:sequence>
          <xsd:element name="Pair" type="sm:PairType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Move" type="sm:MoveRequestType"/>

      <xsd:complexType name="MoveResponseType">
        <xsd:sequence>
          <xsd:element name="File"  type="sm:FileDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Collection"  type="sm:CollectionDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Fault" type="sm:FaultType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="MoveResponse" type="sm:MoveResponseType"/>

      <!-- Link operation -->
      <xsd:complexType name="LinkRequestType">
        <xsd:sequence>
          <xsd:element name="Pair" type="sm:PairType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Link" type="sm:LinkRequestType"/>

      <xsd:complexType name="LinkResponseType">
        <xsd:sequence>
          <xsd:element name="File"  type="sm:FileDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Collection"  type="sm:CollectionDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Fault" type="sm:FaultType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="LinkResponse" type="sm:LinkResponseType"/>


      <!-- Copy operation -->
      <xsd:complexType name="CopyRequestType">
        <xsd:sequence>
          <xsd:element name="Pair" type="sm:NewPairType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Copy" type="sm:CopyRequestType"/>

      <xsd:complexType name="CopyResponseType">
        <xsd:sequence>
          <xsd:element name="File"  type="sm:FileDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Collection"  type="sm:CollectionDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Fault" type="sm:FaultType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CopyResponse" type="sm:CopyResponseType"/>

      <!-- Glob operation -->
      <xsd:complexType name="GlobRequestType">
        <xsd:sequence>
          <xsd:element name="Pattern" type="sm:PatternType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Glob" type="sm:GlobRequestType"/>

      <xsd:complexType name="GlobResponseType">
        <xsd:sequence>
          <xsd:element name="File"  type="sm:FileDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Collection" type="sm:CollectionDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="Fault" type="sm:FaultType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GlobResponse" type="sm:GlobResponseType"/>

    </xsd:schema>
  </wsdl:types>

  <!-- Messages -->
  <wsdl:message name="PutRequest">
    <wsdl:part name="parameters" element="sm:Put"/>
  </wsdl:message>

  <wsdl:message name="PutResponse">
    <wsdl:part name="parameters" element="sm:PutResponse"/>
  </wsdl:message>
  
  <wsdl:message name="ReputRequest">
    <wsdl:part name="parameters" element="sm:Put"/>
  </wsdl:message>

  <wsdl:message name="ReputResponse">
    <wsdl:part name="parameters" element="sm:PutResponse"/>
  </wsdl:message>

  <wsdl:message name="GetRequest">
    <wsdl:part name="parameters" element="sm:Get"/>
  </wsdl:message>

  <wsdl:message name="GetResponse">
    <wsdl:part name="parameters" element="sm:GetResponse"/>
  </wsdl:message>

  <wsdl:message name="DelRequest">
    <wsdl:part name="parameters" element="sm:Del"/>
  </wsdl:message>

  <wsdl:message name="DelResponse">
    <wsdl:part name="parameters" element="sm:DelResponse"/>
  </wsdl:message>

  <wsdl:message name="StatRequest">
    <wsdl:part name="parameters" element="sm:Stat"/>
  </wsdl:message>

  <wsdl:message name="StatResponse">
    <wsdl:part name="parameters" element="sm:StatResponse"/>
  </wsdl:message>

  <wsdl:message name="ModifyRequest">
    <wsdl:part name="parameters" element="sm:Modify"/>
  </wsdl:message>

  <wsdl:message name="ModifyResponse">
    <wsdl:part name="parameters" element="sm:ModifyResponse"/>
  </wsdl:message>

  <wsdl:message name="MakeRequest">
    <wsdl:part name="parameters" element="sm:Make"/>
  </wsdl:message>

  <wsdl:message name="MakeResponse">
    <wsdl:part name="parameters" element="sm:MakeResponse"/>
  </wsdl:message>
  
  <wsdl:message name="UnmakeRequest">
    <wsdl:part name="parameters" element="sm:Unmake"/>
  </wsdl:message>

  <wsdl:message name="UnmakeResponse">
    <wsdl:part name="parameters" element="sm:UnmakeResponse"/>
  </wsdl:message>

  <wsdl:message name="ListRequest">
    <wsdl:part name="parameters" element="sm:List"/>
  </wsdl:message>

  <wsdl:message name="ListResponse">
    <wsdl:part name="parameters" element="sm:ListResponse"/>
  </wsdl:message>

  <wsdl:message name="MoveRequest">
    <wsdl:part name="parameters" element="sm:Move"/>
  </wsdl:message>

  <wsdl:message name="MoveResponse">
    <wsdl:part name="parameters" element="sm:MoveResponse"/>
  </wsdl:message>

  <wsdl:message name="LinkRequest">
    <wsdl:part name="parameters" element="sm:Link"/>
  </wsdl:message>

  <wsdl:message name="LinkResponse">
    <wsdl:part name="parameters" element="sm:LinkResponse"/>
  </wsdl:message>

  <wsdl:message name="CopyRequest">
    <wsdl:part name="parameters" element="sm:Copy"/>
  </wsdl:message>

  <wsdl:message name="CopyResponse">
    <wsdl:part name="parameters" element="sm:CopyResponse"/>
  </wsdl:message>

  <wsdl:message name="GlobRequest">
    <wsdl:part name="parameters" element="sm:Glob"/>
  </wsdl:message>

  <wsdl:message name="GlobResponse">
    <wsdl:part name="parameters" element="sm:GlobResponse"/>
  </wsdl:message>

  <!-- Port Type -->
  <wsdl:portType name="StorageManagerPortType">

    <wsdl:operation name="Put">
      <wsdl:input  name="PutRequest" message="sm:PutRequest"/>
      <wsdl:output name="PutResponse" message="sm:PutResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="Reput">
      <wsdl:input  name="ReputRequest" message="sm:ReputRequest"/>
      <wsdl:output name="ReputResponse" message="sm:ReputResponse"/>
    </wsdl:operation>

    <wsdl:operation name="Get">
      <wsdl:input  name="GetRequest" message="sm:GetRequest"/>
      <wsdl:output name="GetResponse" message="sm:GetResponse"/>
    </wsdl:operation>

    <wsdl:operation name="Del">
      <wsdl:input  name="DelRequest" message="sm:DelRequest"/>
      <wsdl:output name="DelResponse" message="sm:DelResponse"/>
    </wsdl:operation>

    <wsdl:operation name="Stat">
      <wsdl:input  name="StatRequest" message="sm:StatRequest"/>
      <wsdl:output name="StatResponse" message="sm:StatResponse"/>
    </wsdl:operation>

    <wsdl:operation name="Modify">
      <wsdl:input  name="ModifyRequest" message="sm:ModifyRequest"/>
      <wsdl:output name="ModifyResponse" message="sm:ModifyResponse"/>
    </wsdl:operation>

    <wsdl:operation name="Make">
      <wsdl:input  name="MakeRequest" message="sm:MakeRequest"/>
      <wsdl:output name="MakeResponse" message="sm:MakeResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="Unmake">
      <wsdl:input  name="UnmakeRequest" message="sm:UnmakeRequest"/>
      <wsdl:output name="UnmakeResponse" message="sm:UnmakeResponse"/>
    </wsdl:operation>

    <wsdl:operation name="List">
      <wsdl:input  name="ListRequest" message="sm:ListRequest"/>
      <wsdl:output name="ListResponse" message="sm:ListResponse"/>
    </wsdl:operation>

    <wsdl:operation name="Move">
      <wsdl:input  name="MoveRequest" message="sm:MoveRequest"/>
      <wsdl:output name="MoveResponse" message="sm:MoveResponse"/>
    </wsdl:operation>

    <wsdl:operation name="Link">
      <wsdl:input  name="LinkRequest" message="sm:LinkRequest"/>
      <wsdl:output name="LinkResponse" message="sm:LinkResponse"/>
    </wsdl:operation>

    <wsdl:operation name="Copy">
      <wsdl:input  name="CopyRequest" message="sm:CopyRequest"/>
      <wsdl:output name="CopyResponse" message="sm:CopyResponse"/>
    </wsdl:operation>

    <wsdl:operation name="Glob">
      <wsdl:input  name="GlobRequest" message="sm:GlobRequest"/>
      <wsdl:output name="GlobResponse" message="sm:GlobResponse"/>
    </wsdl:operation>

    <!-- WSRF operations supported by this portType -->

    <wsdl:operation name="GetResourcePropertyDocument">
      <wsdl:input name="GetResourcePropertyDocumentRequest"
        message="wsrf-rpw:GetResourcePropertyDocumentRequest"
        wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourcePropertyDocument/GetResourcePropertyDocumentRequest"/>
      <wsdl:output name="GetResourcePropertyDocumentResponse"
        message="wsrf-rpw:GetResourcePropertyDocumentResponse"
        wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourcePropertyDocument/GetResourcePropertyDocumentResponse"/>
      <wsdl:fault name="ResourceUnknownFault"
        message="wsrf-rw:ResourceUnknownFault"
        wsa:Action="http://docs.oasis-open.org/wsrf/fault"/>
      <wsdl:fault name="ResourceUnavailableFault" 
        message="wsrf-rw:ResourceUnavailableFault"
        wsa:Action="http://docs.oasis-open.org/wsrf/fault"/>
    </wsdl:operation>
    <wsdl:operation name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest"
        message="wsrf-rpw:GetResourcePropertyRequest"
        wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourceProperty/GetResourcePropertyRequest"/>
      <wsdl:output name="GetResourcePropertyResponse"
        message="wsrf-rpw:GetResourcePropertyResponse"
        wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourceProperty/GetResourcePropertyResponse"/>
      <wsdl:fault name="ResourceUnknownFault"
        message="wsrf-rw:ResourceUnknownFault"
        wsa:Action="http://docs.oasis-open.org/wsrf/fault"/>
      <wsdl:fault name="ResourceUnavailableFault" 
        message="wsrf-rw:ResourceUnavailableFault"
        wsa:Action="http://docs.oasis-open.org/wsrf/fault"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" 
        message="wsrf-rpw:InvalidResourcePropertyQNameFault"
        wsa:Action="http://docs.oasis-open.org/wsrf/fault"/>
    </wsdl:operation>

    <wsdl:operation name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest"
        message="wsrf-rpw:GetMultipleResourcePropertiesRequest"
        wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetMultipleResourceProperties/GetMultipleResourcePropertiesRequest"/>
      <wsdl:output name="GetMultipleResourcePropertiesResponse"
        message="wsrf-rpw:GetMultipleResourcePropertiesResponse"
        wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetMultipleResourceProperties/GetMultipleResourcePropertiesResponse"/>
      <wsdl:fault name="ResourceUnknownFault"
        message="wsrf-rw:ResourceUnknownFault"
        wsa:Action="http://docs.oasis-open.org/wsrf/fault"/>
      <wsdl:fault name="ResourceUnavailableFault" 
        message="wsrf-rw:ResourceUnavailableFault"
        wsa:Action="http://docs.oasis-open.org/wsrf/fault"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" 
        message="wsrf-rpw:InvalidResourcePropertyQNameFault"
        wsa:Action="http://docs.oasis-open.org/wsrf/fault"/>
    </wsdl:operation>

    <wsdl:operation name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest"
        message="wsrf-rpw:QueryResourcePropertiesRequest"
        wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/QueryResourceProperties/QueryResourcePropertiesRequest"/>
      <wsdl:output name="QueryResourcePropertiesResponse"
        message="wsrf-rpw:QueryResourcePropertiesResponse"
        wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/QueryResourceProperties/QueryResourcePropertiesResponse"/>
      <wsdl:fault name="ResourceUnknownFault"
        message="wsrf-rw:ResourceUnknownFault"
        wsa:Action="http://docs.oasis-open.org/wsrf/fault"/>
      <wsdl:fault name="ResourceUnavailableFault" 
        message="wsrf-rw:ResourceUnavailableFault"
        wsa:Action="http://docs.oasis-open.org/wsrf/fault"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" 
        message="wsrf-rpw:InvalidResourcePropertyQNameFault"
        wsa:Action="http://docs.oasis-open.org/wsrf/fault"/>
      <wsdl:fault name="UnknownQueryExpressionDialectFault" 
        message="wsrf-rpw:UnknownQueryExpressionDialectFault"
        wsa:Action="http://docs.oasis-open.org/wsrf/fault"/>
      <wsdl:fault name="InvalidQueryExpressionFault" 
        message="wsrf-rpw:InvalidQueryExpressionFault"
        wsa:Action="http://docs.oasis-open.org/wsrf/fault"/>
      <wsdl:fault name="QueryEvaluationErrorFault" 
        message="wsrf-rpw:QueryEvaluationErrorFault"
        wsa:Action="http://docs.oasis-open.org/wsrf/fault"/>
    </wsdl:operation>

  </wsdl:portType>

  <!-- Bindings -->
  <wsdl:binding name="StorageManagerBinding" type="sm:StorageManagerPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="Put">
      <soap:operation/>
      <wsdl:input name="PutRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PutResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="Reput">
      <soap:operation/>
      <wsdl:input name="ReputRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReputResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Get">
      <soap:operation/>
      <wsdl:input name="GetRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Del">
      <soap:operation/>
      <wsdl:input name="DelRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DelResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Stat">
      <soap:operation/>
      <wsdl:input name="StatRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="StatResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Modify">
      <soap:operation/>
      <wsdl:input name="ModifyRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ModifyResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Make">
      <soap:operation/>
      <wsdl:input name="MakeRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MakeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="Unmake">
      <soap:operation/>
      <wsdl:input name="UnmakeRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UnmakeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="List">
      <soap:operation/>
      <wsdl:input name="ListRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Move">
      <soap:operation/>
      <wsdl:input name="MoveRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MoveResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Link">
      <soap:operation/>
      <wsdl:input name="LinkRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="LinkResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Copy">
      <soap:operation/>
      <wsdl:input name="CopyRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CopyResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Glob">
      <soap:operation/>
      <wsdl:input name="GlobRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GlobResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetResourcePropertyDocument">
      <soap:operation soapAction="GetResourcePropertyDocument"/>
      <wsdl:input name="GetResourcePropertyDocumentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetResourcePropertyDocumentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="ResourceUnavailableFault">
        <soap:fault name="ResourceUnavailableFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="GetResourceProperty">
      <soap:operation soapAction="GetResourceProperty"/>
      <wsdl:input name="GetResourcePropertyRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetResourcePropertyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="ResourceUnavailableFault">
        <soap:fault name="ResourceUnavailableFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="InvalidResourcePropertyQNameFault">
        <soap:fault name="InvalidResourcePropertyQNameFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="GetMultipleResourceProperties">
      <soap:operation soapAction="GetMultipleResourceProperties"/>
      <wsdl:input name="GetMultipleResourcePropertiesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetMultipleResourcePropertiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="ResourceUnavailableFault">
        <soap:fault name="ResourceUnavailableFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="InvalidResourcePropertyQNameFault">
        <soap:fault name="InvalidResourcePropertyQNameFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="QueryResourceProperties">
      <soap:operation soapAction="QueryResourceProperties"/>
      <wsdl:input name="QueryResourcePropertiesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="QueryResourcePropertiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="ResourceUnavailableFault">
        <soap:fault name="ResourceUnavailableFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="InvalidResourcePropertyQNameFault">
        <soap:fault name="InvalidResourcePropertyQNameFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="UnknownQueryExpressionDialectFault">
        <soap:fault name="UnknownQueryExpressionDialectFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="InvalidQueryExpressionFault">
        <soap:fault name="InvalidQueryExpressionFault" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="QueryEvaluationErrorFault">
        <soap:fault name="QueryEvaluationErrorFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>

  </wsdl:binding>
  
  <wsdl:service name="a-rex">
    <wsdl:port name="StorageManager" binding="sm:StorageManagerBinding">
      <soap:address location="http://localhost:80"/>
     </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
