src/hed/mcc/http/http.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://www.nordugrid.org/schemas/ArcMCCHTTP/2007"
  xmlns:arc="http://www.nordugrid.org/schemas/ArcMCCHTTP/2007"
  targetNamespace="http://www.nordugrid.org/schemas/ArcMCCHTTP/2007"
  elementFormDefault="qualified">
  
    <xsd:complexType name="Endpoint_Type">
    <!--
        These elements define endpoint and HTTP method for client HTTP MCC.
    -->
    <xsd:element name="Endpoint" type="xsd:string"/>
    <xsd:element name="Method" type="xsd:string"/>
</xsd:schema>

