src/services/a-rex/schema/a-rex.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://www.nordugrid.org/schemas/a-rex/2009/08"
  xmlns:arex="http://www.nordugrid.org/schemas/a-rex/2009/08"
  xmlns:ip="http://www.nordugrid.org/schemas/a-rex/InfoProvider/2009/08"
  targetNamespace="http://www.nordugrid.org/schemas/a-rex/2009/08"
  elementFormDefault="qualified">

<!-- Imports -->
<xsd:import namespace="http://www.nordugrid.org/schemas/a-rex/InfoProvider/2009/08" schemaLocation="a-rex_infoprovider.xsd"/>
<xsd:import namespace="http://www.nordugrid.org/schemas/a-rex/LRMS/2009/08" schemaLocation="a-rex_lrms.xsd"/>

    <xsd:complexType name="endpoint_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                This element defines URL of A-REX service as seen from outside.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="gmconfigtype_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="INI"/>
          <xsd:enumeration value="XML"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="gmconfig_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                 This element defines path to arc0 Grid Manager 
                 configuration file. If present values in that file will
                 overwrite those defined as siblings of this element.
                 If string is empty its value is /etc/arc.conf.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="gmconfigtype_Type"
                               use="optional" default="INI"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="gmrun_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                 This element defines how grid-manager part of A-REX is run.
                 * internal - as a thread inside service container.
                 * none - no grid-manager is run.
                 * external - as a separate executable (not supported anymore).
                 Default is 'internal'.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="internal"/>
            <xsd:enumeration value="external"/>
            <xsd:enumeration value="none"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="usermap_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Defines parameters for mapping Grid user identity to 
                local account. Currently only default account name
                can be specified.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="defaultLocalName" type="xsd:string"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Grid Manager like configuration starts here -->

    <xsd:complexType name="LRMS_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Defines parameters for controlling LRMS specific 
                and LRMS related functionality.
                * type - name of LRMS/batch system
                * defaultShare - optional name of default ComputingShare
                * sharedFilesystem - either session directory is shared
                  with computing node
                * sharedScratch - the path where the frontend can access
                  cross-mounted scratch directories of nodes, if applicable
                * GNUTimeUtility - location and name of GNU time executable
                * any accommodates numerous LRMS configuration parameters
                  * pbs_bin_path="/usr/bin"
                  * pbs_log_path="/var/spool/pbs/server_logs"
                  * condor_bin_path="/opt/condor/bin"
                  * condor_config="/opt/condor/etc/condor_config"
                  * condor_rank="(1-LoadAvg/2)*(1-LoadAvg/2)*Memory/1000*KFlops/1000000"
                  * slurm_bin_path="/usr/bin"
                  * sge_bin_path="/opt/n1ge6/bin/lx24-x86"
                  * sge_root="/opt/n1ge6"
                  * sge_cell="default"
                  * sge_execd_port="537"
                  * lsf_bin_path="/usr/local/lsf/bin/"
                  * lsf_profile_path="/usr/share/lsf/conf"
                  * ll_bin_path="/opt/ibmll/LoadL/full/bin"
                  * ll_consumable_resources="yes"
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="defaultShare" type="xsd:string"
                         minOccurs="0"/>
            <xsd:element name="sharedFilesystem" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="sharedScratch" type="xsd:string" minOccurs="0"/>
            <xsd:element name="scratchDir" type="xsd:string" minOccurs="0"/>
            <xsd:element name="runtimeDir" type="xsd:string" minOccurs="0"/>
            <xsd:element name="GNUTimeUtility" type="xsd:string" minOccurs="0"/>
            <xsd:any namespace="http://www.nordugrid.org/schemas/a-rex/LRMS/2009/08"
                         minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="loadLimits_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Defines parameters influencing load imposed on gateway 
                computer. Unless specified missing element means do not limit.
                * maxJobsTracked - jobs which are not in FINISHED state (jobs
                  tracked in RAM)
                * maxJobsRun - jobs being run (SUBMITTING, INLRMS states)
                * maxJobsTotal - jobs in any state
                * maxJobsPerDN - maximum jobs in the system per user DN
                * maxJobsTransferred - jobs being processed on frontend 
                  (PREPARING, FINISHING states)
                * maxJobsTransferredAdditional - additional reserved number 
                  of jobs being processed on frontend
                * maxFilesTransferred - number of files being transferred 
                  simultaneously by jobs in PREPARING and FINISHING states.
                  Value is per job.
                * maxLoadShare - sharing mechanism for data transfer - 
                  the maximum number of processes that can run per transfer share
                * loadShareType - sharing mechanism for data transfer - 
                  the scheme used to assign jobs to transfer shares. Possible
                  values are "dn", "voms:vo", "voms:role" and "voms:group"
                * shareLimit - specifies a transfer share that has a limit
                  different from the default value in maxLoadShare
                    * name - the name of the share. Examples for different sharing
                      mechanisms:
                        - dn         : /O=Grid/O=NorduGrid/OU=domainname.com/CN=Jane Doe
                        - voms:vo    : voname
                        - voms:role  : voname:rolename
                        - voms:group : /voname/groupname
                    * limit - the maximum number of processes that can run for this
                      particular share
                * wakeupPeriod - specifies how often cheks for new jobs 
                  arrived, job state change requests, etc are done. That 
                  is resposivity of the service. The period is in seconds. 
                  Default is 3 minutes. Usually this element is not needed.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="maxJobsTracked" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
            <xsd:element name="maxJobsRun" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
            <xsd:element name="maxJobsTotal" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
            <xsd:element name="maxJobsPerDN" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
            <xsd:element name="maxJobsTransferred" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
            <xsd:element name="maxJobsTransferredAdditional"
                         type="xsd:nonNegativeInteger" minOccurs="0"/>
            <xsd:element name="maxFilesTransferred"
                         type="xsd:nonNegativeInteger" minOccurs="0"/>
            <xsd:element name="maxLoadShare"
                         type="xsd:nonNegativeInteger" minOccurs="0"/>
            <xsd:element name="loadShareType"
                         type="xsd:string" minOccurs="0"/>
            <xsd:element name="shareLimit" minOccurs="0">
                         <xsd:element name="name" type="xsd:string" minOccurs="0" />
                         <xsd:element name="limit" type="xsd:nonNegativeInteger" minOccurs="0" />
            </xsd:element>
            <xsd:element name="wakeupPeriod" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="cachelocation_Type">
        <xsd:sequence>
            <xsd:element name="path" type="xsd:string"/>
            <xsd:element name="link" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="cache_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Parameters related to cache functionality. Multiple caches
                may be specified. Cached data will be distributed evenly 
                over the caches. If none such element is present caching is 
                disabled.
                * location - path to a directory to store cached data. 
                  Multiple cache directories may be specified by specifying
                  multiple location elements. Cached data will be distributed
                  evenly over the caches.
                * remotelocation - path to a cache which is managed by
                  another grid-manager.
                * link - optional path at which the location is accessible on
                  computing nodes, if it is different from the path on the
                  service host.
                * highWatermark, lowWatermark - specify high and low
                  watermarks for space used by cache, as a percentage of
                  the space on the file system on which the cache directory
                  is located. When the max is exceeded, files will be deleted
                  to bring the used space down to the min level. It is a
                  good idea to have the cache on its own separate file system.
                  To turn off this feature those elements must be absent.
                * cacheLogFile - the file where messages from cache cleaning
                  are logged.
                * cacheLogLevel - the log level used by the cache cleaning
                  script.
                * cacheLifetime - the lifetime of cache files
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="location" type="cachelocation_Type"
                         maxOccurs="unbounded"/>
            <xsd:element name="remotelocation" type="cachelocation_Type"
                         minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="highWatermark" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
            <xsd:element name="lowWatermark" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
            <xsd:element name="cacheLogFile" type="xsd:string"
                         minOccurs="0"/>                         
            <xsd:element name="cacheLogLevel" type="xsd:string"
                         minOccurs="0"/>                         
            <xsd:element name="cacheLifetime" type="xsd:string"
                         minOccurs="0"/>                        
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Globus_Type">
       <xsd:sequence>                    
          <xsd:element name="gridmapfile" type="xsd:string"
                       minOccurs="0"/>
          <xsd:element name="CACertificatesDir" type="xsd:string"
                       minOccurs="0"/>
          <xsd:element name="CertificatePath" type="xsd:string"
                       minOccurs="0"/>
          <xsd:element name="KeyPath" type="xsd:string"
                       minOccurs="0"/>
          <xsd:element name="TCPPortRange" type="xsd:string"
                       minOccurs="0"/>
          <xsd:element name="UDPPortRange" type="xsd:string"
                       minOccurs="0"/>
       </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="timeouts_Type">
       <xsd:sequence>                    
          <xsd:element name="minSpeed"
                       type="xsd:nonNegativeInteger" minOccurs="0"/>
          <xsd:element name="minSpeedTime"
                       type="xsd:nonNegativeInteger" minOccurs="0"/>
          <xsd:element name="minAverageSpeed"
                       type="xsd:nonNegativeInteger" minOccurs="0"/>
          <xsd:element name="maxInactivityTime"
                       type="xsd:nonNegativeInteger" minOccurs="0"/>
       </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="DTR_Type">
       <xsd:annotation>
          <xsd:documentation xml:lang="en">
          Parameters for new data staging framework:
          * maxDelivery: maximum number of files in physical transfer
          * maxProcessor: maximum number of files in each pre or post transfer
            stage
          * maxEmergency: maximum number of files which can use emergency slots
            when regular slots are full
          * maxPrepared: maximum number of files in prepared state
          * shareType: transfer shares type
          * definedShare: share with a defined priority
            * name: share name
            * priority: share priority
          * deliveryService: remote data delivery service endpoint
          * localDelivery: whether to use local delivery as well as remote
          * remoteSizeLimit: Lower limit on file size (in bytes) under which
            transfers always use local delivery
          * useHostCert: whether to use host certificate for communication with
            remote delivery services
          * dtrLog: path to location where DTR state is periodically dumped
          </xsd:documentation>
       </xsd:annotation>
       <xsd:sequence>
          <xsd:element name="maxDelivery"
                       type="xsd:nonNegativeInteger" minOccurs="0"/>
          <xsd:element name="maxProcessor"
                       type="xsd:nonNegativeInteger" minOccurs="0"/>
          <xsd:element name="maxEmergency"
                       type="xsd:nonNegativeInteger" minOccurs="0"/>
          <xsd:element name="maxPrepared"
                       type="xsd:nonNegativeInteger" minOccurs="0"/>
          <xsd:element name="shareType"
                       type="xsd:string" minOccurs="0"/>
          <xsd:element name="definedShare" minOccurs="0" maxOccurs="unbounded">
             <xsd:element name="name" type="xsd:string" minOccurs="0" />
             <xsd:element name="priority" type="xsd:nonNegativeInteger" minOccurs="0" />
          </xsd:element>
          <xsd:element name="deliveryService" type="xsd:anyURI"
                       minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="localDelivery" type="xsd:boolean"
                       minOccurs="0"/>
          <xsd:element name="remoteSizeLimit" type="xsd:nonNegativeInteger"
                       minOccurs="0"/>
          <xsd:element name="useHostCert" type="xsd:boolean"
                       minOccurs="0"/>
          <xsd:element name="dtrLog"
                       type="xsd:string" minOccurs="0"/>
       </xsd:sequence>
    </xsd:complexType>
       
    <xsd:complexType name="dataTransfer_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="secureTransfer" type="xsd:boolean"
                         minOccurs="0"/>
            <xsd:element name="passiveTransfer" type="xsd:boolean"
                         minOccurs="0"/>
            <xsd:element name="localTransfer" type="xsd:boolean"
                         minOccurs="0"/>
            <xsd:element name="timeouts" minOccurs="0" type="timeouts_Type"/>
            <xsd:element name="preferredPattern" type="xsd:string"/>
            <xsd:element name="maxRetries" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
            <xsd:element name="mapURL" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="from" type="xsd:anyURI"/>
                        <xsd:element name="to" type="xsd:string"/>
                        <xsd:element name="at" type="xsd:string"/>
                    </xsd:sequence>
                    <xsd:attribute name="link" type="xsd:boolean"
                                   use="optional"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DTR" minOccurs="0" type="DTR_Type"/>
            <xsd:element name="Globus" minOccurs="0" type="Globus_Type"/>            
            <xsd:element name="httpProxy" type="xsd:anyURI"
                         minOccurs="0"/>
            <xsd:element name="acixEndpoint" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:simpleType name="fixDirectories_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Specifies how service prepares its control and session directories at
              startup.
                yes - directories are created and they ownership and permissions adjusted
                missing - directories are created and only for those which are created
                    ownership and permission are adjusted
                no - nothing is created and adjusted
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="yes"/>
          <xsd:enumeration value="missing"/>
          <xsd:enumeration value="no"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="control_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="controlDir" type="xsd:string"/>
            <xsd:element name="sessionRootDir" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attribute name="drain" type="xsd:boolean"
                               use="optional" default="false"/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cache" type="cache_Type"
                         minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="defaultTTL" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
            <xsd:element name="defaultTTR" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
            <xsd:element name="maxReruns" type="xsd:nonNegativeInteger"
                         minOccurs="0"/>
            <xsd:element name="noRootPower" type="xsd:boolean"
                         minOccurs="0"/>
            <xsd:element name="fixDirectories" type="fixDirectories_Type"
                         minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="authPluginAction_Type">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="FAIL"/>
            <xsd:enumeration value="PASS"/>
            <xsd:enumeration value="LOG"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="authPlugin_Type">
        <xsd:sequence>
            <xsd:element name="state" type="xsd:string"/>
            <xsd:element name="command" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="timeout" type="xsd:nonNegativeInteger"
                       use="optional"/>
        <xsd:attribute name="onSuccess" type="authPluginAction_Type"
                       use="optional" default="PASS"/>
        <xsd:attribute name="onFailure" type="authPluginAction_Type"
                       use="optional" default="FAIL"/>
        <xsd:attribute name="onTimeout" type="authPluginAction_Type"
                       use="optional" default="FAIL"/>
    </xsd:complexType>

    <xsd:complexType name="localCred_Type">
        <xsd:sequence>
            <xsd:element name="command" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="timeout" type="xsd:nonNegativeInteger"
                       use="required"/>
    </xsd:complexType>

    <!-- Top level elements -->

    <xsd:element name="gmconfig" type="gmconfig_Type"/>

    <xsd:element name="endpoint" type="endpoint_Type"/>

    <xsd:element name="gmrun" type="gmrun_Type"/>

    <xsd:element name="usermap" type="usermap_Type"/>
 
    <xsd:element name="publishStaticInfo" default="no">
      <xsd:simpleType>
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This optional parameter can be used to enable publishing
            of additional information to ISIS. The default is not to
            publish ("no"). The information, which is considered in
            some degree to be static, includes HealthState, OSFamily,
            Platform, PhysicalCPUs, CPUMultiplicity, CPUModel and
            ApplicationEnvironment.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="no"/>
          <xsd:enumeration value="yes"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>

    <xsd:element name="enableARCInterface" default="yes">
      <xsd:simpleType>
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This optional parameter can be used to disable ARC (BES based)
            job management interface. By default it is enabled.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="no"/>
          <xsd:enumeration value="yes"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>

    <xsd:element name="enableEMIESInterface" default="no">
      <xsd:simpleType>
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This optional parameter can be used to enable EMI ES
            job management interface. By default it is disabled.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="no"/>
          <xsd:enumeration value="yes"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>

    <!-- BES informational elements. -->

    <xsd:element name="commonName" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          CommonName attribute of bes-factory.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>

    <xsd:element name="longDescription" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          LongDescription attribute of bes-factory.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>

    <xsd:element name="LRMSName" type="xsd:anyURI">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Name of Local Resource Management System.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>
         
    <xsd:element name="OperatingSystem" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
         Name of Operating System.
         The values are based on the OSType field of the
         CIM_OperatingSystem model:
         http://www.dmtf.org/standards/cim/cim_schema_v29

         Some examples of valid choices: LINUX, MACOS, Solaris, Windows 2000
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>

    <xsd:element name="InfoproviderWakeupPeriod" type="xsd:nonNegativeInteger">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The GLUE2 infoprovider wake up period time in second
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>

    <xsd:element name="InfosysInterfaceMaxClients" type="xsd:nonNegativeInteger">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The information interface (LIDI) max number of simultaneous
          clients. Default is 10.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>

    <xsd:element name="JobControlInterfaceMaxClients" type="xsd:nonNegativeInteger">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The max number of simultaneous clients performing job 
          management operations (extended BES). Default is 100.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>

    <xsd:element name="DataTransferInterfaceMaxClients" type="xsd:nonNegativeInteger">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The max number of simultaneous clients performing HTTP PUT
          and GET operations. Default is 100.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="debugLevel_Type">
       <xsd:simpleContent>
          <xsd:extension base="xsd:string">
             <xsd:attribute name="level" default="INFO">
                <xsd:simpleType>
                   <xsd:restriction base="xsd:string">
                      <xsd:enumeration value="DEBUG"/>
                      <xsd:enumeration value="VERBOSE"/>
                      <xsd:enumeration value="INFO"/>
                      <xsd:enumeration value="WARNING"/>
                      <xsd:enumeration value="ERROR"/>
                      <xsd:enumeration value="FATAL"/>
                   </xsd:restriction>
                 </xsd:simpleType>
             </xsd:attribute>
          </xsd:extension>
       </xsd:simpleContent>
    </xsd:complexType>

    <xsd:element name="debugLevel" type="debugLevel_Type"/>

    <xsd:element name="loadLimits" type="loadLimits_Type"/>

    <xsd:element name="dataTransfer" type="dataTransfer_Type"/>

    <xsd:element name="serviceMail" type="xsd:string"/>

    <xsd:element name="jobLogPath" type="xsd:string"/>


    <xsd:complexType name="jobReport_Type">
       <xsd:sequence>
           <xsd:element name="publisher" type="xsd:string"
                            minOccurs="0"/>
           <xsd:element name="destination" type="xsd:anyURI"/>
           <xsd:element name="expiration" type="xsd:nonNegativeInteger"
                            minOccurs="0"/>
           <xsd:element name="type" type="xsd:string"
                            minOccurs="0"/>
           <xsd:element name="parameters" type="xsd:string"
                             minOccurs="0"/>
           <xsd:element name="KeyPath" type="xsd:string"
                             minOccurs="0"/>
           <xsd:element name="CertificatePath" type="xsd:string"
                             minOccurs="0"/>
           <xsd:element name="CACertificatesDir" type="xsd:string"
                             minOccurs="0"/>
           <xsd:element name="logfile" type="xsd:string"
                            minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="jobReport" type="arex:jobReport_Type"/>

    <xsd:complexType name="InfoProvider_Type">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Options for the A-REX information provider
            </xsd:documentation>
        </xsd:annotation>
         <xsd:sequence>
             <xsd:element name="debugLevel" type="debugLevel_Type" minOccurs="0"/>
             <xsd:any namespace="http://www.nordugrid.org/schemas/a-rex/InfoProvider/2009/08"
                      maxOccurs="unbounded"/>
         </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="authPlugin" type="authPlugin_Type"/>

    <xsd:element name="localCred" type="localCred_Type"/>

    <!-- There should be minOccurs="1" here. But to allow this element to
         be defined in separate file we keep minOccurs="0" for all elements -->
    <xsd:element name="control" type="control_Type"/>

    <xsd:element name="helperUtility" type="arex:helperUtility_Type"/>

    <xsd:complexType name="helperUtility_Type">
       <xsd:sequence>
          <xsd:element name="username" type="xsd:string"/>
          <xsd:element name="command" type="xsd:string"/>
       </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="LRMS" type="LRMS_Type"/>

    <xsd:element name="InfoProvider" type="InfoProvider_Type"/>

    <!-- Not ported elements
    #logsize="100000 2"
    #logfile="/var/log/arc/grid-manager.log"
    #pidfile="/run/grid-manager.pid"
    #localcred="0 acquire@/opt/nordugrid/lib/afs.so %C/job.%I.proxy"
    #allowsubmit="mygroup"
    #allownew=no
    #tmpdir="/tmp"
    -->     

</xsd:schema>

